Content/Playbooks/Entity/RemoveAppExecutionRestriction.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "title": "RemoveAppExecutionRestriction",
    "description": "Sentinel entity-trigger playbook for RemoveAppExecutionRestriction.",
    "lastUpdateTime": "24-03-2026",
    "entities": [],
    "tags": [
      "Entity",
      "Source: Sentinel-As-Code"
    ],
    "support": {
      "tier": "community"
    },
    "author": {
      "name": "noodlemctwoodle"
    }
  },
  "parameters": {
    "PlaybookName": {
      "defaultValue": "RemoveAppExecutionRestriction",
      "type": "string"
    },
    "AutomationResourceGroup": {
      "defaultValue": "",
      "type": "string"
    },
    "SentinelWorkpaceName": {
      "defaultValue": "",
      "type": "string"
    }
  },
  "variables": {
    "MicrosoftSentinelConnectionName": "[concat('MicrosoftSentinel-', parameters('PlaybookName'))]"
  },
  "resources": [
    {
      "properties": {
        "provisioningState": "Succeeded",
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "Microsoft_Sentinel_entity": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel_2']['connectionId']"
                  }
                },
                "body": {
                  "callback_url": "@{listCallbackUrl()}"
                },
                "path": "/entity/@{encodeURIComponent('Host')}"
              }
            }
          },
          "actions": {
            "Condition_2": {
              "actions": {
                "Module-RemoveAppExecutionRestriction_True": {
                  "type": "Workflow",
                  "inputs": {
                    "host": {
                      "workflow": {
                        "id": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', parameters('AutomationResourceGroup'), '/providers/Microsoft.Logic/workflows/Module-RemoveAppExecutionRestriction')]"
                      },
                      "triggerName": "When_a_HTTP_request_is_received"
                    },
                    "body": {
                      "hostName": "@triggerBody()?['Entity']?['properties']?['HostName']",
                      "Comment": "Unrestricted App Execution from Sentinel Incident #@{body('Get_incident')?['properties']?['incidentNumber']} - @{body('Get_incident')?['properties']?['title']}"
                    }
                  }
                },
                "Module-AddSentinelComment_True": {
                  "runAfter": {
                    "Module-RemoveAppExecutionRestriction_True": [
                      "Succeeded"
                    ]
                  },
                  "type": "Workflow",
                  "inputs": {
                    "host": {
                      "workflow": {
                        "id": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', parameters('AutomationResourceGroup'), '/providers/Microsoft.Logic/workflows/Module-AddSentinelComment')]"
                      },
                      "triggerName": "When_a_HTTP_request_is_received"
                    },
                    "body": {
                      "SentinelComment": "@{triggerBody()?['Entity']?['properties']?['HostName']} was triggered to remove app execution, the status is:  Unrestricted",
                      "IncidentARMId": "@body('Get_incident')?['id']"
                    }
                  }
                }
              },
              "runAfter": {
                "Get_incident": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Module-AddSentinelComment_False": {
                    "runAfter": {
                      "Module-RemoveAppExecutionRestriction_False": [
                        "Succeeded"
                      ]
                    },
                    "type": "Workflow",
                    "inputs": {
                      "host": {
                        "workflow": {
                          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', parameters('AutomationResourceGroup'), '/providers/Microsoft.Logic/workflows/Module-AddSentinelComment')]"
                        },
                        "triggerName": "When_a_HTTP_request_is_received"
                      },
                      "body": {
                        "SentinelComment": "@{triggerBody()?['Entity']?['properties']?['HostName']} was triggered to remove app execution, the status is:  Unrestricted",
                        "IncidentARMId": "@body('Get_incident')?['id']"
                      }
                    }
                  },
                  "Module-RemoveAppExecutionRestriction_False": {
                    "type": "Workflow",
                    "inputs": {
                      "host": {
                        "workflow": {
                          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', parameters('AutomationResourceGroup'), '/providers/Microsoft.Logic/workflows/Module-RemoveAppExecutionRestriction')]"
                        },
                        "triggerName": "When_a_HTTP_request_is_received"
                      },
                      "body": {
                        "MachineId": "@{triggerBody()?['Entity']?['properties']?['additionalData']?['MdatpDeviceId']}",
                        "Comment": "Unrestricted App Execution from Sentinel Incident #@{body('Get_incident')?['properties']?['incidentNumber']} - @{body('Get_incident')?['properties']?['title']}"
                      }
                    }
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "not": {
                      "equals": [
                        "@triggerBody()?['Entity']?['properties']?['additionalData']?['MdatpDeviceId']",
                        "@null"
                      ]
                    }
                  }
                ]
              },
              "type": "If"
            },
            "Get_incident": {
              "runAfter": {},
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel_2']['connectionId']"
                  }
                },
                "method": "post",
                "body": {
                  "incidentArmId": "@triggerBody()?['IncidentArmID']"
                },
                "path": "/Incidents"
              }
            }
          }
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuresentinel_2": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]",
                "connectionName": "[variables('MicrosoftSentinelConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuresentinel')]",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                }
              }
            }
          }
        }
      },
      "name": "[parameters('PlaybookName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[resourceGroup().location]",
      "tags": {
        "Source": "Sentinel-As-Code"
      },
      "identity": {
        "type": "SystemAssigned"
      },
      "apiVersion": "2017-07-01",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]"
      ]
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('MicrosoftSentinelConnectionName')]",
      "location": "[resourceGroup().location]",
      "kind": "V1",
      "properties": {
        "displayName": "[variables('MicrosoftSentinelConnectionName')]",
        "customParameterValues": {},
        "parameterValueType": "Alternative",
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuresentinel')]"
        }
      }
    }
  ]
}
