Content/Playbooks/Entity/ResetEntraIDUserPassword.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "title": "ResetEntraIDUserPassword",
    "description": "Sentinel entity-trigger playbook for ResetEntraIDUserPassword.",
    "lastUpdateTime": "24-03-2026",
    "entities": [],
    "tags": [
      "Entity",
      "Source: Sentinel-As-Code"
    ],
    "support": {
      "tier": "community"
    },
    "author": {
      "name": "noodlemctwoodle"
    }
  },
  "parameters": {
    "PlaybookName": {
      "defaultValue": "ResetEntraIDUserPassword",
      "type": "string"
    },
    "AutomationResourceGroup": {
      "defaultValue": "",
      "type": "string"
    },
    "SentinelWorkpaceName": {
      "defaultValue": "",
      "type": "string"
    }
  },
  "variables": {
    "Office3650ConnectionName": "[concat('Office365-', parameters('PlaybookName'))]",
    "MicrosoftSentinel0ConnectionName": "[concat('MicrosoftSentinel-', parameters('PlaybookName'))]"
  },
  "resources": [
    {
      "properties": {
        "provisioningState": "Succeeded",
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "Microsoft_Sentinel_entity": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['microsoftsentinel']['connectionId']"
                  }
                },
                "body": {
                  "callback_url": "@{listCallbackUrl()}"
                },
                "path": "/entity/@{encodeURIComponent('Account')}"
              }
            }
          },
          "actions": {
            "Condition_-_is_manager_available": {
              "actions": {
                "Condition_2": {
                  "actions": {
                    "Add_comment_to_incident_-_manager_available": {
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['microsoftsentinel']['connectionId']"
                          }
                        },
                        "method": "post",
                        "body": {
                          "incidentArmId": "@triggerBody()?['IncidentArmID']",
                          "message": "<p>User @{variables('AccountDetails')} password was reset in AAD and their manager @{body('Parse_JSON_-_HTTP_-_get_manager')?['userPrincipalName']} was contacted using playbook.</p>"
                        },
                        "path": "/Incidents/Comment"
                      }
                    }
                  },
                  "runAfter": {
                    "Send_an_email_-_to_manager_with_password_details": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {}
                  },
                  "expression": {
                    "and": [
                      {
                        "not": {
                          "equals": [
                            "@triggerBody()?['IncidentArmID']",
                            "@null"
                          ]
                        }
                      }
                    ]
                  },
                  "type": "If"
                },
                "Parse_JSON_-_HTTP_-_get_manager": {
                  "type": "ParseJson",
                  "inputs": {
                    "content": "@body('HTTP_-_get_manager')",
                    "schema": {
                      "properties": {
                        "userPrincipalName": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  }
                },
                "Send_an_email_-_to_manager_with_password_details": {
                  "runAfter": {
                    "Parse_JSON_-_HTTP_-_get_manager": [
                      "Succeeded"
                    ]
                  },
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['office365-1']['connectionId']"
                      }
                    },
                    "method": "post",
                    "body": {
                      "To": "@body('Parse_JSON_-_HTTP_-_get_manager')?['userPrincipalName']",
                      "Subject": "A user password was reset due to security incident.",
                      "Body": "<p>User, @{variables('AccountDetails')}, was involved in part of a security incident. &nbsp;As part of remediation, the user password has been reset.<br>\n<br>\nThe temporary password is: @{variables('Password')}<br>\n<br>\nThe user will be required to reset this password upon login.</p>"
                    },
                    "path": "/v2/Mail"
                  }
                }
              },
              "runAfter": {
                "HTTP_-_get_manager": [
                  "Succeeded",
                  "Failed"
                ]
              },
              "else": {
                "actions": {
                  "Condition": {
                    "actions": {
                      "Add_comment_to_incident_-_manager_not_available": {
                        "type": "ApiConnection",
                        "inputs": {
                          "host": {
                            "connection": {
                              "name": "@parameters('$connections')['microsoftsentinel']['connectionId']"
                            }
                          },
                          "method": "post",
                          "body": {
                            "incidentArmId": "@triggerBody()?['IncidentArmID']",
                            "message": "<p>User @{variables('AccountDetails')} password was reset in AAD but the user doesn't have a manager.<br>\n<br>\nThe temporary password is: @{variables('Password')}<br>\n<br>\nThe user will be required to reset this password upon login.</p>"
                          },
                          "path": "/Incidents/Comment"
                        }
                      }
                    },
                    "else": {
                      "actions": {}
                    },
                    "expression": {
                      "and": [
                        {
                          "not": {
                            "equals": [
                              "@triggerBody()?['IncidentArmID']",
                              "@null"
                            ]
                          }
                        }
                      ]
                    },
                    "type": "If"
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@outputs('HTTP_-_get_manager')['statusCode']",
                      200
                    ]
                  }
                ]
              },
              "type": "If"
            },
            "HTTP_-_get_manager": {
              "runAfter": {
                "HTTP_-_reset_a_password": [
                  "Succeeded"
                ]
              },
              "type": "Http",
              "inputs": {
                "uri": "https://graph.microsoft.com/v1.0/users/@{variables('AccountDetails')}/manager",
                "method": "GET",
                "authentication": {
                  "audience": "https://graph.microsoft.com",
                  "type": "ManagedServiceIdentity"
                }
              }
            },
            "HTTP_-_reset_a_password": {
              "runAfter": {
                "Initialize_variable_Account": [
                  "Succeeded"
                ]
              },
              "type": "Http",
              "inputs": {
                "uri": "https://graph.microsoft.com/v1.0/users/@{variables('AccountDetails')}",
                "method": "PATCH",
                "body": {
                  "passwordProfile": {
                    "forceChangePasswordNextSignIn": true,
                    "forceChangePasswordNextSignInWithMfa": false,
                    "password": "@{variables('Password')}"
                  }
                },
                "authentication": {
                  "audience": "https://graph.microsoft.com",
                  "type": "ManagedServiceIdentity"
                }
              }
            },
            "Initialize_variable": {
              "runAfter": {},
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "Password",
                    "type": "String",
                    "value": "null"
                  }
                ]
              }
            },
            "Initialize_variable_Account": {
              "runAfter": {
                "Set_variable_-_password": [
                  "Succeeded"
                ]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "AccountDetails",
                    "type": "string",
                    "value": "@{concat(triggerBody()?['Entity']?['properties']?['Name'],'@',triggerBody()?['Entity']?['properties']?['UPNSuffix'])}"
                  }
                ]
              }
            },
            "Set_variable_-_password": {
              "runAfter": {
                "Initialize_variable": [
                  "Succeeded"
                ]
              },
              "type": "SetVariable",
              "inputs": {
                "name": "Password",
                "value": "@{substring(guid(), 0, 10)}"
              }
            }
          }
        },
        "parameters": {
          "$connections": {
            "value": {
              "office365-1": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('Office3650ConnectionName'))]",
                "connectionName": "[variables('Office3650ConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/office365')]"
              },
              "microsoftsentinel": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinel0ConnectionName'))]",
                "connectionName": "[variables('MicrosoftSentinel0ConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                }
              }
            }
          }
        }
      },
      "name": "[parameters('PlaybookName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[resourceGroup().location]",
      "tags": {
        "Source": "Sentinel-As-Code"
      },
      "identity": {
        "type": "SystemAssigned"
      },
      "apiVersion": "2017-07-01",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinel0ConnectionName'))]",
        "[resourceId('Microsoft.Web/connections', variables('Office3650ConnectionName'))]"
      ]
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('Office3650ConnectionName')]",
      "location": "[resourceGroup().location]",
      "kind": "V1",
      "properties": {
        "displayName": "[variables('Office3650ConnectionName')]",
        "customParameterValues": {},
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/office365')]"
        }
      }
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('MicrosoftSentinel0ConnectionName')]",
      "location": "[resourceGroup().location]",
      "kind": "V1",
      "properties": {
        "displayName": "[variables('MicrosoftSentinel0ConnectionName')]",
        "customParameterValues": {},
        "parameterValueType": "Alternative",
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
        }
      }
    }
  ]
}
