Content/Playbooks/Entity/VirusTotalIPReport.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "title": "VirusTotalIPReport",
    "description": "Sentinel entity-trigger playbook for VirusTotalIPReport.",
    "lastUpdateTime": "24-03-2026",
    "entities": [],
    "tags": [
      "Entity",
      "Source: Sentinel-As-Code"
    ],
    "support": {
      "tier": "community"
    },
    "author": {
      "name": "noodlemctwoodle"
    }
  },
  "parameters": {
    "PlaybookName": {
      "defaultValue": "VirusTotalIPReport",
      "type": "string"
    },
    "AutomationResourceGroup": {
      "defaultValue": "",
      "type": "string"
    },
    "SentinelWorkpaceName": {
      "defaultValue": "",
      "type": "string"
    }
  },
  "variables": {
    "Virustotal0ConnectionName": "[concat('Virustotal-', parameters('PlaybookName'))]",
    "MicrosoftSentinel0ConnectionName": "[concat('MicrosoftSentinel-', parameters('PlaybookName'))]"
  },
  "resources": [
    {
      "properties": {
        "provisioningState": "Succeeded",
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "Microsoft_Sentinel_entity": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "body": {
                  "callback_url": "@{listCallbackUrl()}"
                },
                "path": "/entity/@{encodeURIComponent('IP')}"
              }
            }
          },
          "actions": {
            "Check_if_ARMId_exist": {
              "actions": {
                "Add_comment_to_incident_(V3)": {
                  "runAfter": {
                    "Create_HTML_table": [
                      "Succeeded"
                    ]
                  },
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                      }
                    },
                    "method": "post",
                    "body": {
                      "incidentArmId": "@triggerBody()?['IncidentArmID']",
                      "message": "<p>@{outputs('Compose')}<br>\n<strong></strong><strong>@{body('Create_HTML_table')}</strong><strong></strong></p>"
                    },
                    "path": "/Incidents/Comment"
                  }
                },
                "Compose_2": {
                  "type": "Compose",
                  "inputs": [
                    {
                      "Continent": "@{body('Get_an_IP_report')?['data']?['attributes']?['continent']}",
                      "Country": "@{body('Get_an_IP_report')?['data']?['attributes']?['country']}",
                      "Harmless": "@{body('Get_an_IP_report')?['data']?['attributes']?['last_analysis_stats']?['harmless']}",
                      "Malicious": "@{body('Get_an_IP_report')?['data']?['attributes']?['last_analysis_stats']?['malicious']}",
                      "Owner": "@{body('Get_an_IP_report')?['data']?['attributes']?['as_owner']}",
                      "Reputation": "@{body('Get_an_IP_report')?['data']?['attributes']?['reputation']}",
                      "Suspicious": "@{body('Get_an_IP_report')?['data']?['attributes']?['last_analysis_stats']?['suspicious']}",
                      "Timeout": "@{body('Get_an_IP_report')?['data']?['attributes']?['last_analysis_stats']?['timeout']}",
                      "Total votes harmless": "@{body('Get_an_IP_report')?['data']?['attributes']?['total_votes']?['harmless']}",
                      "Total votes malicious": "@{body('Get_an_IP_report')?['data']?['attributes']?['total_votes']?['malicious']}",
                      "Undetected": "@{body('Get_an_IP_report')?['data']?['attributes']?['last_analysis_stats']?['undetected']}",
                      "ASN": "@{body('Get_an_IP_report')?['data']?['attributes']?['asn']}"
                    }
                  ]
                },
                "Create_HTML_table": {
                  "runAfter": {
                    "Compose_2": [
                      "Succeeded"
                    ]
                  },
                  "type": "Table",
                  "inputs": {
                    "from": "@outputs('Compose_2')",
                    "format": "HTML"
                  }
                }
              },
              "runAfter": {
                "Compose": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {}
              },
              "expression": {
                "and": [
                  {
                    "not": {
                      "equals": [
                        "@triggerBody()?['IncidentArmID']",
                        "@null"
                      ]
                    }
                  }
                ]
              },
              "type": "If"
            },
            "Compose": {
              "runAfter": {
                "Get_an_IP_report": [
                  "Succeeded"
                ]
              },
              "type": "Compose",
              "inputs": "<h2>VirusTotal report for IP: @{triggerBody()?['Entity']?['properties']?['Address']}</h2>"
            },
            "Get_an_IP_report": {
              "runAfter": {},
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['virustotal_1']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/api/v3/ip_addresses/connectorV2/@{encodeURIComponent(triggerBody()?['Entity']?['properties']?['Address'])}"
              }
            }
          }
        },
        "parameters": {
          "$connections": {
            "value": {
              "virustotal_1": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('Virustotal0ConnectionName'))]",
                "connectionName": "[variables('Virustotal0ConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/virustotal')]"
              },
              "azuresentinel": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinel0ConnectionName'))]",
                "connectionName": "[variables('MicrosoftSentinel0ConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                }
              }
            }
          }
        }
      },
      "name": "[parameters('PlaybookName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[resourceGroup().location]",
      "tags": {
        "Source": "Sentinel-As-Code"
      },
      "identity": {
        "type": "SystemAssigned"
      },
      "apiVersion": "2017-07-01",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinel0ConnectionName'))]",
        "[resourceId('Microsoft.Web/connections', variables('Virustotal0ConnectionName'))]"
      ]
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('Virustotal0ConnectionName')]",
      "location": "[resourceGroup().location]",
      "kind": "V1",
      "properties": {
        "displayName": "[variables('Virustotal0ConnectionName')]",
        "customParameterValues": {},
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/virustotal')]"
        }
      }
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('MicrosoftSentinel0ConnectionName')]",
      "location": "[resourceGroup().location]",
      "kind": "V1",
      "properties": {
        "displayName": "[variables('MicrosoftSentinel0ConnectionName')]",
        "customParameterValues": {},
        "parameterValueType": "Alternative",
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
        }
      }
    }
  ]
}
