Content/Playbooks/Entity/VirusTotalFileInfo.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "title": "VirusTotalFileInfo",
    "description": "Sentinel entity-trigger playbook for VirusTotalFileInfo.",
    "lastUpdateTime": "24-03-2026",
    "entities": [],
    "tags": [
      "Entity",
      "Source: Sentinel-As-Code"
    ],
    "support": {
      "tier": "community"
    },
    "author": {
      "name": "noodlemctwoodle"
    }
  },
  "parameters": {
    "PlaybookName": {
      "defaultValue": "VirusTotalFileInfo",
      "type": "string"
    },
    "AutomationResourceGroup": {
      "defaultValue": "",
      "type": "string"
    },
    "SentinelWorkpaceName": {
      "defaultValue": "",
      "type": "string"
    }
  },
  "variables": {
    "Virustotal0ConnectionName": "[concat('Virustotal-', parameters('PlaybookName'))]",
    "MicrosoftSentinel0ConnectionName": "[concat('MicrosoftSentinel-', parameters('PlaybookName'))]",
    "Azureloganalyticsdatacollector0ConnectionName": "[concat('Azureloganalyticsdatacollector-', parameters('PlaybookName'))]"
  },
  "resources": [
    {
      "properties": {
        "provisioningState": "Succeeded",
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "Microsoft_Sentinel_entity": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "body": {
                  "callback_url": "@{listCallbackUrl()}"
                },
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel_3']['connectionId']"
                  }
                },
                "path": "/entity/@{encodeURIComponent('FileHash')}"
              }
            }
          },
          "actions": {
            "Condition_2": {
              "actions": {
                "Add_comment_to_incident_(V3)": {
                  "runAfter": {
                    "Send_Data": [
                      "Succeeded"
                    ]
                  },
                  "type": "ApiConnection",
                  "inputs": {
                    "body": {
                      "incidentArmId": "@triggerBody()?['IncidentArmID']",
                      "message": "<p>Virus Total File Report found for @{triggerBody()?['Entity']?['properties']?['Value']}<br>\nReputation is:@{body('Retrieve_information_about_a_file')?['data']?['attributes']?['reputation']} which indicates likely harmless<br>\nQuery: VTFileReport_CL | where id_s == \"@{triggerBody()?['Entity']?['properties']?['Value']}\"</p>"
                    },
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['azuresentinel_3']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/Incidents/Comment"
                  }
                },
                "Send_Data": {
                  "runAfter": {},
                  "type": "ApiConnection",
                  "inputs": {
                    "body": "@{body('Retrieve_information_about_a_file')?['data']}",
                    "headers": {
                      "Log-Type": "VTFileReport",
                      "time-generated-field": "@{utcNow()}"
                    },
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['azureloganalyticsdatacollector_1']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/api/logs"
                  }
                }
              },
              "runAfter": {
                "Retrieve_information_about_a_file": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Add_comment_to_incident_(V3)_2": {
                    "runAfter": {
                      "Send_Data_2": [
                        "Succeeded"
                      ]
                    },
                    "type": "ApiConnection",
                    "inputs": {
                      "body": {
                        "incidentArmId": "@triggerBody()?['IncidentArmID']",
                        "message": "<p>Virus Total File Report found for @{triggerBody()?['Entity']?['properties']?['Value']}<br>\nReputation is:@{body('Retrieve_information_about_a_file')?['data']?['attributes']?['reputation']} which indicates likely malicous<br>\nQuery: VTFileReport_CL | where id_s == \"@{triggerBody()?['Entity']?['properties']?['Value']}\"</p>"
                      },
                      "host": {
                        "connection": {
                          "name": "@parameters('$connections')['azuresentinel_3']['connectionId']"
                        }
                      },
                      "method": "post",
                      "path": "/Incidents/Comment"
                    }
                  },
                  "Send_Data_2": {
                    "runAfter": {},
                    "type": "ApiConnection",
                    "inputs": {
                      "body": "@{body('Retrieve_information_about_a_file')?['data']}",
                      "headers": {
                        "Log-Type": "VTFileReport",
                        "time-generated-field": "@{utcNow()}"
                      },
                      "host": {
                        "connection": {
                          "name": "@parameters('$connections')['azureloganalyticsdatacollector_1']['connectionId']"
                        }
                      },
                      "method": "post",
                      "path": "/api/logs"
                    }
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "greater": [
                      "@body('Retrieve_information_about_a_file')?['data']?['attributes']?['reputation']",
                      0
                    ]
                  }
                ]
              },
              "type": "If"
            },
            "Initialize_HashInfo": {
              "runAfter": {},
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "HashInfo",
                    "type": "array"
                  }
                ]
              }
            },
            "Retrieve_information_about_a_file": {
              "runAfter": {
                "Initialize_HashInfo": [
                  "Succeeded"
                ]
              },
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['virustotal_1']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/api/v3/files/@{encodeURIComponent(triggerBody()?['Entity']?['properties']?['Value'])}"
              }
            }
          }
        },
        "parameters": {
          "$connections": {
            "value": {
              "virustotal_1": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('Virustotal0ConnectionName'))]",
                "connectionName": "[variables('Virustotal0ConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/virustotal')]"
              },
              "azuresentinel_3": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinel0ConnectionName'))]",
                "connectionName": "[variables('MicrosoftSentinel0ConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                }
              },
              "azureloganalyticsdatacollector_1": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('Azureloganalyticsdatacollector0ConnectionName'))]",
                "connectionName": "[variables('Azureloganalyticsdatacollector0ConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azureloganalyticsdatacollector')]"
              }
            }
          }
        }
      },
      "name": "[parameters('PlaybookName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[resourceGroup().location]",
      "tags": {
        "Source": "Sentinel-As-Code"
      },
      "identity": {
        "type": "SystemAssigned"
      },
      "apiVersion": "2017-07-01",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('Azureloganalyticsdatacollector0ConnectionName'))]",
        "[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinel0ConnectionName'))]",
        "[resourceId('Microsoft.Web/connections', variables('Virustotal0ConnectionName'))]"
      ]
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('Virustotal0ConnectionName')]",
      "location": "[resourceGroup().location]",
      "kind": "V1",
      "properties": {
        "displayName": "[variables('Virustotal0ConnectionName')]",
        "customParameterValues": {},
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/virustotal')]"
        }
      }
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('MicrosoftSentinel0ConnectionName')]",
      "location": "[resourceGroup().location]",
      "kind": "V1",
      "properties": {
        "displayName": "[variables('MicrosoftSentinel0ConnectionName')]",
        "customParameterValues": {},
        "parameterValueType": "Alternative",
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
        }
      }
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('Azureloganalyticsdatacollector0ConnectionName')]",
      "location": "[resourceGroup().location]",
      "kind": "V1",
      "properties": {
        "displayName": "[variables('Azureloganalyticsdatacollector0ConnectionName')]",
        "customParameterValues": {},
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azureloganalyticsdatacollector')]"
        }
      }
    }
  ]
}
