Content/Playbooks/Incident/DefenderRestrictAppExecution.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "title": "Incident-DefenderRestrictAppExecution",
    "description": "Sentinel incident-trigger playbook for Incident-DefenderRestrictAppExecution targeting Host entities.",
    "lastUpdateTime": "31-07-2024",
    "entities": [
      "Host"
    ],
    "tags": [
      "Incident",
      "Source: Sentinel-As-Code"
    ],
    "support": {
      "tier": "community"
    },
    "author": {
      "name": "noodlemctwoodle"
    }
  },
  "parameters": {
    "PlaybookName": {
      "defaultValue": "Incident-DefenderRestrictAppExecution",
      "type": "string"
    },
    "AutomationResourceGroup": {
      "defaultValue": "",
      "type": "string"
    },
    "SentinelWorkpaceName": {
      "defaultValue": "",
      "type": "string"
    }
  },
  "variables": {
    "Azuresentinel0ConnectionName": "[concat('Azuresentinel0-', parameters('PlaybookName'))]",
    "Azuresentinel1ConnectionName": "[concat('Azuresentinel1-', parameters('PlaybookName'))]"
  },
  "resources": [
    {
      "properties": {
        "provisioningState": "Succeeded",
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "Microsoft_Sentinel_incident": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "body": {
                  "callback_url": "@{listCallbackUrl()}"
                },
                "path": "/incident-creation"
              }
            }
          },
          "actions": {
            "Entities_-_Get_Hosts": {
              "runAfter": {
                "Get_incident": [
                  "Succeeded"
                ]
              },
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "method": "post",
                "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                "path": "/entities/host"
              }
            },
            "For_each": {
              "foreach": "@body('Entities_-_Get_Hosts')?['Hosts']",
              "actions": {
                "Condition": {
                  "actions": {
                    "Module-RestrictAppExecution": {
                      "type": "Workflow",
                      "inputs": {
                        "host": {
                          "workflow": {
                            "id": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', parameters('AutomationResourceGroup'), '/providers/Microsoft.Logic/workflows/Module-RestrictAppExecution')]"
                          },
                          "triggerName": "When_a_HTTP_request_is_received"
                        },
                        "body": {
                          "hostName": "@item()?['HostName']",
                          "Comment": "Restricted App Execution from Sentinel Incident #@{body('Get_incident')?['properties']?['incidentNumber']} - @{body('Get_incident')?['properties']?['title']}"
                        }
                      }
                    },
                    "Module-AddSentinelComment_True": {
                      "runAfter": {
                        "Module-RestrictAppExecution": [
                          "Succeeded"
                        ]
                      },
                      "type": "Workflow",
                      "inputs": {
                        "host": {
                          "workflow": {
                            "id": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', parameters('AutomationResourceGroup'), '/providers/Microsoft.Logic/workflows/Module-AddSentinelComment')]"
                          },
                          "triggerName": "When_a_HTTP_request_is_received"
                        },
                        "body": {
                          "SentinelComment": "@{triggerBody()?['Entity']?['properties']?['HostName']} was triggered for restrict app execution, the status is:  Restricted",
                          "IncidentARMId": "@triggerBody()?['object']?['id']"
                        }
                      }
                    }
                  },
                  "else": {
                    "actions": {
                      "Module-AddSentinelComment_False": {
                        "runAfter": {
                          "Module-RestrictAppExecution-copy": [
                            "Succeeded"
                          ]
                        },
                        "type": "Workflow",
                        "inputs": {
                          "host": {
                            "workflow": {
                              "id": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', parameters('AutomationResourceGroup'), '/providers/Microsoft.Logic/workflows/Module-AddSentinelComment')]"
                            },
                            "triggerName": "When_a_HTTP_request_is_received"
                          },
                          "body": {
                            "SentinelComment": "@{triggerBody()?['Entity']?['properties']?['HostName']} was triggered for restrict app execution, the status is:  Restricted",
                            "IncidentARMId": "@triggerBody()?['object']?['id']"
                          }
                        }
                      },
                      "Module-RestrictAppExecution-copy": {
                        "type": "Workflow",
                        "inputs": {
                          "host": {
                            "workflow": {
                              "id": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', parameters('AutomationResourceGroup'), '/providers/Microsoft.Logic/workflows/Module-RestrictAppExecution')]"
                            },
                            "triggerName": "When_a_HTTP_request_is_received"
                          },
                          "body": {
                            "MachineId": "@{items('For_each')?['MdatpDeviceId']}",
                            "Comment": "Restricted App Execution from Sentinel Incident #@{body('Get_incident')?['properties']?['incidentNumber']} - @{body('Get_incident')?['properties']?['title']}"
                          }
                        }
                      }
                    }
                  },
                  "expression": {
                    "and": [
                      {
                        "not": {
                          "equals": [
                            "@items('For_each')?['MdatpDeviceId']",
                            "@null"
                          ]
                        }
                      }
                    ]
                  },
                  "type": "If"
                }
              },
              "runAfter": {
                "Entities_-_Get_Hosts": [
                  "Succeeded"
                ]
              },
              "type": "Foreach"
            },
            "Get_incident": {
              "runAfter": {},
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel-1']['connectionId']"
                  }
                },
                "method": "post",
                "body": {
                  "incidentArmId": "@triggerBody()?['object']?['id']"
                },
                "path": "/Incidents"
              }
            }
          }
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuresentinel": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('Azuresentinel0ConnectionName'))]",
                "connectionName": "[variables('Azuresentinel0ConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuresentinel')]",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                }
              },
              "azuresentinel-1": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('Azuresentinel1ConnectionName'))]",
                "connectionName": "[variables('Azuresentinel1ConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuresentinel')]",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                }
              }
            }
          }
        }
      },
      "name": "[parameters('PlaybookName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[resourceGroup().location]",
      "tags": {
        "Source": "Sentinel-As-Code"
      },
      "identity": {
        "type": "SystemAssigned"
      },
      "apiVersion": "2017-07-01",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('Azuresentinel0ConnectionName'))]",
        "[resourceId('Microsoft.Web/connections', variables('Azuresentinel1ConnectionName'))]"
      ]
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('Azuresentinel0ConnectionName')]",
      "location": "[resourceGroup().location]",
      "kind": "V1",
      "properties": {
        "displayName": "[variables('Azuresentinel0ConnectionName')]",
        "customParameterValues": {},
        "parameterValueType": "Alternative",
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuresentinel')]"
        }
      }
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('Azuresentinel1ConnectionName')]",
      "location": "[resourceGroup().location]",
      "kind": "V1",
      "properties": {
        "displayName": "[variables('Azuresentinel1ConnectionName')]",
        "customParameterValues": {},
        "parameterValueType": "Alternative",
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuresentinel')]"
        }
      }
    }
  ]
}
