Content/Playbooks/Incident/DisableUserAccount.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "title": "DisableUserAccount",
    "description": "Sentinel incident-trigger playbook for DisableUserAccount targeting Account entities.",
    "lastUpdateTime": "24-03-2026",
    "entities": [
      "Account"
    ],
    "tags": [
      "Incident",
      "Source: Sentinel-As-Code"
    ],
    "support": {
      "tier": "community"
    },
    "author": {
      "name": "noodlemctwoodle"
    }
  },
  "parameters": {
    "PlaybookName": {
      "defaultValue": "DisableUserAccount",
      "type": "string"
    },
    "AutomationResourceGroup": {
      "defaultValue": "",
      "type": "string"
    },
    "SentinelWorkpaceName": {
      "defaultValue": "",
      "type": "string"
    }
  },
  "variables": {
    "azuresentinel0ConnectionName": "[concat('azuresentinel0-', parameters('PlaybookName'))]",
    "azuresentinel1ConnectionName": "[concat('azuresentinel1-', parameters('PlaybookName'))]",
    "azuresentinel2ConnectionName": "[concat('azuresentinel2-', parameters('PlaybookName'))]"
  },
  "resources": [
    {
      "properties": {
        "provisioningState": "Succeeded",
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "Microsoft_Sentinel_incident": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "body": {
                  "callback_url": "@{listCallbackUrl()}"
                },
                "path": "/incident-creation"
              }
            }
          },
          "actions": {
            "Entities_-_Get_Accounts": {
              "runAfter": {},
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel-2']['connectionId']"
                  }
                },
                "method": "post",
                "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                "path": "/entities/account"
              }
            },
            "Condition_disable_onPrem_or_Entra": {
              "actions": {
                "HTTP_PATCH_disable_user_account_(Entra_ID)1": {
                  "type": "Http",
                  "inputs": {
                    "uri": "https://graph.microsoft.com/v1.0/users/@{outputs('Compose_account_UPN')}",
                    "method": "PATCH",
                    "body": {
                      "accountEnabled": false
                    },
                    "authentication": {
                      "type": "ManagedServiceIdentity",
                      "audience": "https://graph.microsoft.com"
                    }
                  },
                  "runtimeConfiguration": {
                    "contentTransfer": {
                      "transferMode": "Chunked"
                    }
                  }
                },
                "HTTP_POST_disable_user_account_(on-prem_AD)": {
                  "type": "Http",
                  "inputs": {
                    "uri": "https://graph.microsoft.com/v1.0/servicePrincipals/0e24ff50-64ed-4904-b901-4fd00ac679d5/synchronization/jobs/API2AD.7fe75010a06b4555a989457ad1876040.29cb77d0-4cb1-45fb-ac6d-4509f1d842ba/bulkUpload",
                    "method": "POST",
                    "headers": {
                      "Content-Type": "application/scim+json"
                    },
                    "body": {
                      "schemas": [
                        "urn:ietf:params:scim:api:messages:2.0:BulkRequest"
                      ],
                      "Operations": [
                        {
                          "method": "POST",
                          "bulkId": "00aa00aa-bb11-cc22-dd33-44ee44ee44ee",
                          "path": "/Users",
                          "data": {
                            "schemas": [
                              "urn:ietf:params:scim:schemas:core:2.0:User",
                              "urn:ietf:params:scim:schemas:extension:enterprise:2.0:User"
                            ],
                            "externalId": "@{body('Parse_JSON_GET_User_detail')?['employeeId']}",
                            "active": false
                          }
                        }
                      ],
                      "failOnErrors": null
                    },
                    "authentication": {
                      "type": "ManagedServiceIdentity",
                      "audience": "https://graph.microsoft.com"
                    }
                  },
                  "runtimeConfiguration": {
                    "contentTransfer": {
                      "transferMode": "Chunked"
                    }
                  }
                },
                "Condition_disable_user_account_(on-prem_AD)": {
                  "actions": {
                    "Append_to_disable_on-prem_AD_Success": {
                      "type": "AppendToStringVariable",
                      "inputs": {
                        "name": "DisableUserStatus",
                        "value": "Success"
                      }
                    }
                  },
                  "runAfter": {
                    "HTTP_PATCH_disable_user_account_(Entra_ID)1": [
                      "Succeeded",
                      "Failed"
                    ],
                    "HTTP_POST_disable_user_account_(on-prem_AD)": [
                      "Succeeded",
                      "Failed"
                    ]
                  },
                  "else": {
                    "actions": {
                      "Append_to_disable_on-prem_AD_Failed": {
                        "type": "AppendToStringVariable",
                        "inputs": {
                          "name": "DisableUserStatus",
                          "value": "Failed"
                        }
                      }
                    }
                  },
                  "expression": {
                    "or": [
                      {
                        "equals": [
                          "@outputs('HTTP_POST_disable_user_account_(on-prem_AD)')?['statusCode']",
                          200
                        ]
                      },
                      {
                        "equals": [
                          "@outputs('HTTP_PATCH_disable_user_account_(Entra_ID)1')?['statusCode']",
                          204
                        ]
                      }
                    ]
                  },
                  "type": "If"
                }
              },
              "runAfter": {
                "Parse_JSON_GET_User_detail": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "HTTP_PATCH_disable_user_account_(Entra_ID)": {
                    "type": "Http",
                    "inputs": {
                      "uri": "https://graph.microsoft.com/v1.0/users/@{outputs('Compose_account_UPN')}",
                      "method": "PATCH",
                      "body": {
                        "accountEnabled": false
                      },
                      "authentication": {
                        "type": "ManagedServiceIdentity",
                        "audience": "https://graph.microsoft.com"
                      }
                    },
                    "runtimeConfiguration": {
                      "contentTransfer": {
                        "transferMode": "Chunked"
                      }
                    }
                  },
                  "Condition_disable_user_account_(Entra_ID)": {
                    "actions": {
                      "Append_to_disable_Entra_ID_User_Success": {
                        "type": "AppendToStringVariable",
                        "inputs": {
                          "name": "DisableUserStatus",
                          "value": "Success"
                        }
                      }
                    },
                    "runAfter": {
                      "HTTP_PATCH_disable_user_account_(Entra_ID)": [
                        "Succeeded",
                        "Failed"
                      ]
                    },
                    "else": {
                      "actions": {
                        "Append_to_disable_Entra_ID_User_Failed": {
                          "type": "AppendToStringVariable",
                          "inputs": {
                            "name": "DisableUserStatus",
                            "value": "Failed"
                          }
                        }
                      }
                    },
                    "expression": {
                      "and": [
                        {
                          "equals": [
                            "@outputs('HTTP_PATCH_disable_user_account_(Entra_ID)')?['statusCode']",
                            204
                          ]
                        }
                      ]
                    },
                    "type": "If"
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@body('Parse_JSON_GET_User_detail')?['onPremisesSyncEnabled']",
                      true
                    ]
                  }
                ]
              },
              "type": "If"
            },
            "Initialise_disableUserStatus": {
              "runAfter": {
                "Compose_account_UPN": [
                  "Succeeded"
                ]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "disableUserStatus",
                    "type": "string"
                  }
                ]
              }
            },
            "Compose_DisableUserStatus": {
              "runAfter": {
                "Condition_disable_onPrem_or_Entra": [
                  "Succeeded"
                ]
              },
              "type": "Compose",
              "inputs": "@variables('DisableUserStatus')"
            },
            "Condition_disable_account_status_code": {
              "actions": {
                "Add_comment_to_incident_user_account_disabled": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['azuresentinel-2']['connectionId']"
                      }
                    },
                    "method": "post",
                    "body": {
                      "incidentArmId": "@triggerBody()?['object']?['id']",
                      "message": "<p class=\"editor-paragraph\">User Account @{outputs('Compose_DisableUserStatus')} was disabled</p>"
                    },
                    "path": "/Incidents/Comment"
                  }
                }
              },
              "runAfter": {
                "Compose_DisableUserStatus": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Add_comment_to_incident_user_account_disabled_failed": {
                    "type": "ApiConnection",
                    "inputs": {
                      "host": {
                        "connection": {
                          "name": "@parameters('$connections')['azuresentinel-2']['connectionId']"
                        }
                      },
                      "method": "post",
                      "body": {
                        "incidentArmId": "@triggerBody()?['object']?['id']",
                        "message": "<p class=\"editor-paragraph\">User account @{outputs('Compose_DisableUserStatus')} failed to disable</p>"
                      },
                      "path": "/Incidents/Comment"
                    }
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "not": {
                      "contains": [
                        "@outputs('Compose_DisableUserStatus')",
                        "Failed"
                      ]
                    }
                  }
                ]
              },
              "type": "If"
            },
            "Compose_account_UPN": {
              "runAfter": {
                "Filter_domainJoined": [
                  "Succeeded"
                ]
              },
              "type": "Compose",
              "inputs": "@concat(first(body('Filter_domainJoined')).accountName, '@', first(body('Filter_domainJoined')).upnSuffix)"
            },
            "Filter_domainJoined": {
              "runAfter": {
                "Entities_-_Get_Accounts": [
                  "Succeeded"
                ]
              },
              "type": "Query",
              "inputs": {
                "from": "@body('Entities_-_Get_Accounts')?['Accounts']",
                "where": "@equals(item()?['IsDomainJoined'],true)"
              }
            },
            "HTTP_GET_User_details": {
              "runAfter": {
                "Initialise_deleteAuthMethods": [
                  "Succeeded"
                ]
              },
              "type": "Http",
              "inputs": {
                "uri": "https://graph.microsoft.com/v1.0/users/@{outputs('Compose_account_UPN')}?$select=id,userPrincipalName,displayName,givenName,surname,employeeId,onPremisesSyncEnabled",
                "method": "GET",
                "authentication": {
                  "type": "ManagedServiceIdentity",
                  "audience": "https://graph.microsoft.com"
                }
              },
              "runtimeConfiguration": {
                "contentTransfer": {
                  "transferMode": "Chunked"
                }
              }
            },
            "Parse_JSON_GET_User_detail": {
              "runAfter": {
                "HTTP_GET_User_details": [
                  "Succeeded"
                ]
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@body('HTTP_GET_User_details')",
                "schema": {
                  "type": "object",
                  "properties": {
                    "@@odata.context": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string"
                    },
                    "userPrincipalName": {
                      "type": "string"
                    },
                    "displayName": {
                      "type": "string"
                    },
                    "givenName": {
                      "type": "string"
                    },
                    "surname": {
                      "type": "string"
                    },
                    "employeeId": {
                      "type": "string"
                    },
                    "onPremisesSyncEnabled": {
                      "type": [
                        "boolean",
                        "null"
                      ]
                    }
                  }
                }
              }
            },
            "HTTP_GET_authentication_methods": {
              "runAfter": {
                "Initialise_deleteAuthMethods": [
                  "Succeeded"
                ]
              },
              "type": "Http",
              "inputs": {
                "uri": "https://graph.microsoft.com/v1.0/users/@{outputs('Compose_account_UPN')}/authentication/methods/?$select=id",
                "method": "GET",
                "authentication": {
                  "type": "ManagedServiceIdentity",
                  "audience": "https://graph.microsoft.com"
                }
              },
              "runtimeConfiguration": {
                "contentTransfer": {
                  "transferMode": "Chunked"
                }
              }
            },
            "Parse_GET_authentication_methods": {
              "runAfter": {
                "HTTP_GET_authentication_methods": [
                  "Succeeded"
                ]
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@body('HTTP_GET_authentication_methods')",
                "schema": {
                  "type": "object",
                  "properties": {
                    "@@odata.context": {
                      "type": "string"
                    },
                    "value": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "@@odata.type": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "@@odata.type",
                          "id"
                        ]
                      }
                    }
                  }
                }
              }
            },
            "Select_authentication_methods": {
              "runAfter": {
                "Parse_GET_authentication_methods": [
                  "Succeeded"
                ]
              },
              "type": "Select",
              "inputs": {
                "from": "@body('Parse_GET_authentication_methods')?['value']",
                "select": {
                  "odataType": "@{item()?['@odata.type']}",
                  "Id": "@{item()?['id']}"
                }
              }
            },
            "Initialise_deleteAuthMethods": {
              "runAfter": {
                "Initialise_disableUserStatus": [
                  "Succeeded"
                ]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "deleteAuthMethods",
                    "type": "string"
                  }
                ]
              }
            },
            "Compose_deleteAuthMethods_Status": {
              "runAfter": {
                "For_each_authentication_method": [
                  "Succeeded"
                ]
              },
              "type": "Compose",
              "inputs": "@variables('deleteAuthMethods')"
            },
            "Condition_deleteAuthMethods": {
              "actions": {
                "Add_comment_auth_methods_deleted_success": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['azuresentinel-1']['connectionId']"
                      }
                    },
                    "method": "post",
                    "body": {
                      "incidentArmId": "@triggerBody()?['object']?['id']",
                      "message": "<p class=\"editor-paragraph\">Authentication methods for @{outputs('Compose_account_UPN')} have been deleted</p>"
                    },
                    "path": "/Incidents/Comment"
                  }
                }
              },
              "runAfter": {
                "Compose_deleteAuthMethods_Status": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Add_comment__auth_methods_deleted_failed": {
                    "type": "ApiConnection",
                    "inputs": {
                      "host": {
                        "connection": {
                          "name": "@parameters('$connections')['azuresentinel-1']['connectionId']"
                        }
                      },
                      "method": "post",
                      "body": {
                        "incidentArmId": "@triggerBody()?['object']?['id']",
                        "message": "<p class=\"editor-paragraph\">Authentication methods for @{outputs('Compose_account_UPN')} have not been deleted</p>"
                      },
                      "path": "/Incidents/Comment"
                    }
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "not": {
                      "contains": [
                        "@outputs('Compose_deleteAuthMethods_Status')",
                        "Failed"
                      ]
                    }
                  }
                ]
              },
              "type": "If"
            },
            "Parse_authentication_methods": {
              "runAfter": {
                "Select_authentication_methods": [
                  "Succeeded"
                ]
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@body('Select_authentication_methods')",
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "odataType": {
                        "type": "string"
                      },
                      "Id": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "odataType",
                      "Id"
                    ]
                  }
                }
              }
            },
            "For_each_authentication_method": {
              "foreach": "@body('Parse_authentication_methods')",
              "actions": {
                "Switch": {
                  "cases": {
                    "Case_windowsHelloForBusinessAuthenticationMethod": {
                      "case": "#microsoft.graph.windowsHelloForBusinessAuthenticationMethod",
                      "actions": {
                        "Until_Delete_windowsHelloForBusinessAuthenticationMethod": {
                          "actions": {
                            "Delay_Delete_windowsHelloForBusinessAuthenticationMethod": {
                              "type": "Wait",
                              "inputs": {
                                "interval": {
                                  "count": 5,
                                  "unit": "Second"
                                }
                              }
                            },
                            "HTTP_Delete_windowsHelloForBusinessAuthenticationMethod": {
                              "runAfter": {
                                "Delay_Delete_windowsHelloForBusinessAuthenticationMethod": [
                                  "Succeeded"
                                ]
                              },
                              "type": "Http",
                              "inputs": {
                                "uri": "https://graph.microsoft.com/v1.0/users/@{triggerBody()?['UserPrincipalName']}/authentication/windowsHelloForBusinessMethods/@{item()['Id']}",
                                "method": "DELETE",
                                "authentication": {
                                  "type": "ManagedServiceIdentity",
                                  "audience": "https://graph.microsoft.com"
                                }
                              },
                              "runtimeConfiguration": {
                                "contentTransfer": {
                                  "transferMode": "Chunked"
                                }
                              }
                            }
                          },
                          "expression": "@equals(outputs('HTTP_Delete_windowsHelloForBusinessAuthenticationMethod')?['statusCode'],204)",
                          "limit": {
                            "count": 60,
                            "timeout": "PT1H"
                          },
                          "type": "Until"
                        },
                        "Condition_Delete_windowsHelloForBusinessAuthenticationMethod_status_code": {
                          "actions": {
                            "Append_deleteAuthMethods_windowsHelloForBusinessAuthenticationMethod_Success": {
                              "type": "AppendToStringVariable",
                              "inputs": {
                                "name": "deleteAuthMethods",
                                "value": "Success"
                              }
                            }
                          },
                          "runAfter": {
                            "Until_Delete_windowsHelloForBusinessAuthenticationMethod": [
                              "Succeeded"
                            ]
                          },
                          "else": {
                            "actions": {
                              "Append_deleteAuthMethods_windowsHelloForBusinessAuthenticationMethod_Failed": {
                                "type": "AppendToStringVariable",
                                "inputs": {
                                  "name": "deleteAuthMethods",
                                  "value": "Failed"
                                }
                              }
                            }
                          },
                          "expression": {
                            "and": [
                              {
                                "equals": [
                                  "@outputs('HTTP_Delete_windowsHelloForBusinessAuthenticationMethod')?['statusCode']",
                                  204
                                ]
                              }
                            ]
                          },
                          "type": "If"
                        }
                      }
                    },
                    "Case_microsoftAuthenticatorAuthenticationMethod": {
                      "case": "#microsoft.graph.microsoftAuthenticatorAuthenticationMethod",
                      "actions": {
                        "Until_DELETE_microsoftAuthenticatorAuthenticationMethod": {
                          "actions": {
                            "Delay_Delete_microsoftAuthenticatorAuthenticationMethod": {
                              "type": "Wait",
                              "inputs": {
                                "interval": {
                                  "count": 5,
                                  "unit": "Second"
                                }
                              }
                            },
                            "HTTP_DELETE_microsoftAuthenticatorAuthenticationMethod": {
                              "runAfter": {
                                "Delay_Delete_microsoftAuthenticatorAuthenticationMethod": [
                                  "Succeeded"
                                ]
                              },
                              "type": "Http",
                              "inputs": {
                                "uri": "https://graph.microsoft.com/v1.0/users/@{outputs('Compose_account_UPN')}/authentication/microsoftAuthenticatorMethods/@{item()['Id']}",
                                "method": "DELETE"
                              },
                              "runtimeConfiguration": {
                                "contentTransfer": {
                                  "transferMode": "Chunked"
                                }
                              }
                            }
                          },
                          "runAfter": {
                            "Compose": [
                              "Succeeded"
                            ]
                          },
                          "expression": "@equals(outputs('HTTP_DELETE_microsoftAuthenticatorAuthenticationMethod')?['statusCode'],200)",
                          "limit": {
                            "count": 60,
                            "timeout": "PT1H"
                          },
                          "type": "Until"
                        },
                        "Compose": {
                          "type": "Compose",
                          "inputs": "@item()['odataType']"
                        }
                      }
                    }
                  },
                  "default": {
                    "actions": {}
                  },
                  "expression": "@item()?['odataType']",
                  "type": "Switch"
                }
              },
              "runAfter": {
                "Parse_authentication_methods": [
                  "Succeeded"
                ]
              },
              "type": "Foreach"
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuresentinel-2": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('azuresentinel0ConnectionName'))]",
                "connectionName": "[variables('azuresentinel0ConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                }
              },
              "azuresentinel-1": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('azuresentinel1ConnectionName'))]",
                "connectionName": "[variables('azuresentinel1ConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                }
              },
              "azuresentinel": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('azuresentinel2ConnectionName'))]",
                "connectionName": "[variables('azuresentinel2ConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                }
              }
            }
          }
        }
      },
      "name": "[parameters('PlaybookName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[resourceGroup().location]",
      "tags": {
        "Source": "Sentinel-As-Code"
      },
      "identity": {
        "type": "SystemAssigned"
      },
      "apiVersion": "2017-07-01",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('azuresentinel0ConnectionName'))]",
        "[resourceId('Microsoft.Web/connections', variables('azuresentinel1ConnectionName'))]",
        "[resourceId('Microsoft.Web/connections', variables('azuresentinel2ConnectionName'))]"
      ]
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('azuresentinel0ConnectionName')]",
      "location": "[resourceGroup().location]",
      "kind": "V1",
      "properties": {
        "displayName": "[variables('azuresentinel0ConnectionName')]",
        "customParameterValues": {},
        "parameterValueType": "Alternative",
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
        }
      }
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('azuresentinel1ConnectionName')]",
      "location": "[resourceGroup().location]",
      "kind": "V1",
      "properties": {
        "displayName": "[variables('azuresentinel1ConnectionName')]",
        "customParameterValues": {},
        "parameterValueType": "Alternative",
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
        }
      }
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('azuresentinel2ConnectionName')]",
      "location": "[resourceGroup().location]",
      "kind": "V1",
      "properties": {
        "displayName": "[variables('azuresentinel2ConnectionName')]",
        "customParameterValues": {},
        "parameterValueType": "Alternative",
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
        }
      }
    }
  ]
}
