Content/Playbooks/Incident/SendReport.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "title": "SendReport",
    "description": "Sentinel incident-trigger playbook for SendReport.",
    "lastUpdateTime": "24-03-2026",
    "entities": [],
    "tags": [
      "Incident",
      "Source: Sentinel-As-Code"
    ],
    "support": {
      "tier": "community"
    },
    "author": {
      "name": "noodlemctwoodle"
    }
  },
  "parameters": {
    "PlaybookName": {
      "defaultValue": "SendReport",
      "type": "string"
    },
    "AutomationResourceGroup": {
      "defaultValue": "",
      "type": "string"
    },
    "SentinelWorkpaceName": {
      "defaultValue": "",
      "type": "string"
    }
  },
  "variables": {
    "MicrosoftSentinel0ConnectionName": "[concat('MicrosoftSentinel0-', parameters('PlaybookName'))]",
    "Office3650ConnectionName": "[concat('Office3650-', parameters('PlaybookName'))]"
  },
  "resources": [
    {
      "properties": {
        "provisioningState": "Succeeded",
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "reportName": {
              "defaultValue": "Microsoft Sentinel Incident Report",
              "type": "String"
            },
            "secOpsEmail": {
              "defaultValue": "secops@yourcompany.com",
              "type": "String"
            },
            "emailLogoHeader": {
              "defaultValue": "https://domain.com/content/images/size/w2000/2025/03/ernie_banner.png",
              "type": "String"
            },
            "dateTimeFormat": {
              "defaultValue": "yyyy-MM-dd HH:mm:ss",
              "type": "String"
            },
            "emailRecipient": {
              "defaultValue": "socengineer@domain.com",
              "type": "String"
            },
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "Microsoft_Sentinel_incident": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel-1']['connectionId']"
                  }
                },
                "body": {
                  "callback_url": "@{listCallbackUrl()}"
                },
                "path": "/incident-creation"
              }
            }
          },
          "actions": {
            "Select_Entities": {
              "runAfter": {},
              "type": "Select",
              "inputs": {
                "from": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                "select": {
                  "Entity": "@{item()?['properties']?['friendlyName']}",
                  "Entity type": "@{item()?['kind']}"
                }
              }
            },
            "Create_HTML_table_with_Entities": {
              "runAfter": {
                "Select_Entities": [
                  "Succeeded"
                ]
              },
              "type": "Table",
              "inputs": {
                "from": "@body('Select_Entities')",
                "format": "HTML"
              }
            },
            "Select_Alerts": {
              "runAfter": {
                "Create_HTML_table_with_Entities": [
                  "Succeeded"
                ]
              },
              "type": "Select",
              "inputs": {
                "from": "@triggerBody()?['object']?['properties']?['Alerts']",
                "select": {
                  "Alerts": "@{item()?['properties']?['alertDisplayName']}"
                }
              }
            },
            "Create_HTML_table_with_Alerts": {
              "runAfter": {
                "Select_Alerts": [
                  "Succeeded"
                ]
              },
              "type": "Table",
              "inputs": {
                "from": "@body('Select_Alerts')",
                "format": "HTML"
              }
            },
            "Compose_Email_response": {
              "runAfter": {
                "Create_HTML_table_with_Alerts": [
                  "Succeeded"
                ]
              },
              "type": "Compose",
              "inputs": "<!DOCTYPE html>\n<html lang=\"en\">\n\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <link href=\"https://fonts.googleapis.com/css?family=Roboto&display=swap\" rel=\"stylesheet\">\n    <style>\n        /* Sentinel Global Font */\n        body,\n        table {\n            font-family: 'Roboto', sans-serif;\n        }\n\n        /* Add styling for the nested table */\n        table table {\n            width: 100%;\n            border-collapse: collapse;\n        }\n\n        table table th,\n        table table td {\n            padding: 10px;\n            border: 1px solid #ccc;\n        }\n\n        table table th:nth-child(n+2),\n        table table td:nth-child(n+2) {\n            text-align: center;\n        }\n\n        table table thead tr {\n            background-color: #ddd;\n        }\n\n        /* Custom styling for top section */\n        .email-header {\n            background-color: #C9C9C9;\n            color: white;\n            padding: 20px;\n            text-align: center;\n        }\n\n        .email-header h1 {\n            font-size: 28px;\n            margin: 0;\n        }\n\n        .email-body {\n            background-color: #f2f2f2;\n            padding: 20px;\n        }\n\n        .email-body p {\n            font-size: 16px;\n            margin: 10px 0;\n        }\n\n        .incident-link {\n            font-size: 18px;\n            color: #2f06e6;\n        }\n\n        .tactics-section {\n            font-size: 16px;\n            color: #333;\n        }\n\n        .tactics-section p {\n            margin: 5px 0;\n        }\n    </style>\n\n</head>\n\n<body>\n    <!-- Microsoft Sentinel Monthly Cost Template -->\n    <table width=\"100%\" cellspacing=\"0\" cellpadding=\"0\">\n        <tbody>\n            <tr>\n                <td style=\"padding: 20px 0;\" align=\"center\">\n                    <table style=\"max-width: 650px; width: 100%; border-collapse: collapse;\">\n                        <tbody>\n                            <!-- Top Section (Logo + Title) -->\n                            <tr class=\"email-header\">\n                                <td align=\"center\">\n                                    <img class=\"logo\"\n                                        style=\"margin: 20px auto; display: block; width: 250px;\"\n                                        src=\"@{parameters('emailLogoHeader')}\"\n                                        alt=\"Company Logo\" width=\"150\" />\n                                </td>\n                            </tr>\n\n                            <!-- Microsoft Outlook Email Body -->\n                            <tr class=\"email-body\">\n                                <td>\n                                    <h2 style=\"font-size: 26px; color: #2f06e6; text-align: center;\"> @{parameters('reportName')}</h2>\n                                    <p>Date: @{formatDateTime(triggerBody()?['object']?['properties']?['createdTimeUtc'], parameters('dateTimeFormat'))}</p>\n                                    <p><a class=\"incident-link\" href=\"@{triggerBody()?['object']?['properties']?['incidentUrl']}\">Microsoft Sentinel Incident</a></p>\n                                    <p>Incident Description: @{triggerBody()?['object']?['properties']?['description']}</p>\n                                    \n                                    <!-- Tactics Section with Line Breaks -->\n                                    <div class=\"tactics-section\">\n                                        <strong>Tactics:</strong>\n                                        <p>@{join(triggerBody()?['object']?['properties']?['additionalData']?['tactics'],'<br>')}</p>\n                                    </div>\n                                </td>\n                            </tr>\n\n                            <!-- Microsoft Sentinel Playbook Nested HTML Table -->\n                            <tr style=\"text-align: left; background-color: #f2f2f2;\">\n                                <td>\n                                    @{body('Create_HTML_table_with_Entities')}\n                                </td>\n                            </tr>\n                            <tr style=\"text-align: left; background-color: #f2f2f2;\">\n                                <td>\n                                    @{body('Create_HTML_table_with_Alerts')}\n                                </td>\n                            </tr>\n\n                            <!-- Microsoft Outlook Email Footer -->\n                            <tr>\n                                <td style=\"padding: 20px; background-color: #ebe9e2;\" align=\"center\">\n                                    <p style=\"font-size: 16.0pt;\"><strong>Sentinel Security</strong></p>\n                                    <p>If you have any questions, please reach out to the security team:\n                                        <a style=\"color: #2f06e6;\" href=\"mailto:@{parameters('SecOpsEmail')}\">Sentinel Security Team</a>\n                                    </p>\n                                </td>\n                            </tr>\n                        </tbody>\n                    </table>\n                </td>\n            </tr>\n        </tbody>\n    </table>\n</body>\n\n</html>"
            },
            "Send_an_email_(V2)": {
              "runAfter": {
                "Compose_Email_response": [
                  "Succeeded"
                ]
              },
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['office365']['connectionId']"
                  }
                },
                "method": "post",
                "body": {
                  "To": "@parameters('emailRecipient')",
                  "Subject": "New Microsoft Sentinel incident - @{triggerBody()?['object']?['properties']?['title']}",
                  "Body": "<p class=\"editor-paragraph\">@{outputs('Compose_Email_response')}</p>",
                  "Importance": "High"
                },
                "path": "/v2/Mail"
              }
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuresentinel-1": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinel0ConnectionName'))]",
                "connectionName": "[variables('MicrosoftSentinel0ConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                }
              },
              "office365": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('Office3650ConnectionName'))]",
                "connectionName": "[variables('Office3650ConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/office365')]"
              }
            }
          }
        }
      },
      "name": "[parameters('PlaybookName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[resourceGroup().location]",
      "tags": {
        "Source": "Sentinel-As-Code"
      },
      "identity": {
        "type": "SystemAssigned"
      },
      "apiVersion": "2017-07-01",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinel0ConnectionName'))]",
        "[resourceId('Microsoft.Web/connections', variables('Office3650ConnectionName'))]"
      ]
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('MicrosoftSentinel0ConnectionName')]",
      "location": "[resourceGroup().location]",
      "kind": "V1",
      "properties": {
        "displayName": "[variables('MicrosoftSentinel0ConnectionName')]",
        "customParameterValues": {},
        "parameterValueType": "Alternative",
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
        }
      }
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('Office3650ConnectionName')]",
      "location": "[resourceGroup().location]",
      "kind": "V1",
      "properties": {
        "displayName": "[variables('Office3650ConnectionName')]",
        "customParameterValues": {},
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/office365')]"
        }
      }
    }
  ]
}
