Content/Playbooks/Incident/SendBasicEmail.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "title": "SendBasicEmail",
    "description": "Sentinel incident-trigger playbook for SendBasicEmail.",
    "lastUpdateTime": "24-03-2026",
    "entities": [],
    "tags": [
      "Incident",
      "Source: Sentinel-As-Code"
    ],
    "support": {
      "tier": "community"
    },
    "author": {
      "name": "noodlemctwoodle"
    }
  },
  "parameters": {
    "PlaybookName": {
      "defaultValue": "SendBasicEmail",
      "type": "string"
    },
    "AutomationResourceGroup": {
      "defaultValue": "",
      "type": "string"
    },
    "SentinelWorkpaceName": {
      "defaultValue": "",
      "type": "string"
    }
  },
  "variables": {
    "MicrosoftSentinel0ConnectionName": "[concat('MicrosoftSentinel-', parameters('PlaybookName'))]",
    "Office3650ConnectionName": "[concat('Office365-', parameters('PlaybookName'))]"
  },
  "resources": [
    {
      "properties": {
        "provisioningState": "Succeeded",
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "Microsoft_Sentinel_incident": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "body": {
                  "callback_url": "@{listCallbackUrl()}"
                },
                "path": "/incident-creation"
              }
            }
          },
          "actions": {
            "Compose_Incident_link": {
              "runAfter": {
                "Create_HTML_table_with_Entities": [
                  "Succeeded"
                ]
              },
              "type": "Compose",
              "inputs": "<a href=\"@{triggerBody()?['object']?['properties']?['incidentUrl']}\">View Incident</a>"
            },
            "Create_HTML_table_with_Entities": {
              "runAfter": {
                "Select_Entities": [
                  "Succeeded"
                ]
              },
              "type": "Table",
              "inputs": {
                "from": "@body('Select_Entities')",
                "format": "HTML"
              }
            },
            "Select_Entities": {
              "runAfter": {},
              "type": "Select",
              "inputs": {
                "from": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                "select": {
                  "Entity": "@item()?['properties']?['friendlyName']",
                  "Entity Type": "@item()?['kind']"
                }
              }
            },
            "Send_an_email_with_Incident_details": {
              "runAfter": {
                "Compose_Incident_link": [
                  "Succeeded"
                ]
              },
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['office365-1']['connectionId']"
                  }
                },
                "method": "post",
                "body": {
                  "To": "socengineer@domain.com",
                  "Subject": "New Azure Sentinel Incident - @{triggerBody()?['object']?['properties']?['title']}",
                  "Body": "<p><span style=\"font-size: 16px\"><strong>New incident created in Azure Sentinel. Incident details:</strong></span><br>\n<br>\n<span style=\"font-size: 14px\"><strong>Incident title:<br>\n</strong></span>@{triggerBody()?['object']?['properties']?['title']}<br>\n<br>\n<span style=\"font-size: 14px\"><strong>Incident ID:<br>\n</strong></span>@{triggerBody()?['object']?['properties']?['incidentNumber']}<br>\n<br>\n<span style=\"font-size: 14px\"><strong>Creation time:<br>\n</strong></span>@{triggerBody()?['object']?['properties']?['createdTimeUtc']}<br>\n<br>\n<span style=\"font-size: 14px\"><strong>Severity:<br>\n</strong></span>@{triggerBody()?['object']?['properties']?['severity']}<br>\n<br>\n<span style=\"font-size: 14px\"><strong>Alert providers:<br>\n</strong></span>@{join(triggerBody()?['object']?['properties']?['additionalData']?['alertProductNames'], '<br />')}<br>\n<br>\n<span style=\"font-size: 14px\"><strong>Tactics:<br>\n</strong></span>@{join(triggerBody()?['object']?['properties']?['additionalData']?['tactics'], '<br />')}<br>\n<br>\n<span style=\"font-size: 14px\"><strong>Description:<br>\n</strong></span>@{triggerBody()?['object']?['properties']?['description']}<br>\n<br>\n<span style=\"font-size: 14px\"><strong>Entities:<br>\n</strong></span><span style=\"font-size: 12px\"></span><span style=\"font-size: 12px\">@{body('Create_HTML_table_with_Entities')}</span><span style=\"font-size: 12px\"></span><br>\n<br>\n<span style=\"font-size: 14px\"><strong>Incident link:<br>\n</strong></span>@{outputs('Compose_Incident_link')}<br>\n</p>",
                  "Importance": "High"
                },
                "path": "/v2/Mail"
              }
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuresentinel": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinel0ConnectionName'))]",
                "connectionName": "[variables('MicrosoftSentinel0ConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                }
              },
              "office365-1": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('Office3650ConnectionName'))]",
                "connectionName": "[variables('Office3650ConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/office365')]"
              }
            }
          }
        }
      },
      "name": "[parameters('PlaybookName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[resourceGroup().location]",
      "tags": {
        "Source": "Sentinel-As-Code"
      },
      "identity": {
        "type": "SystemAssigned"
      },
      "apiVersion": "2017-07-01",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinel0ConnectionName'))]",
        "[resourceId('Microsoft.Web/connections', variables('Office3650ConnectionName'))]"
      ]
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('MicrosoftSentinel0ConnectionName')]",
      "location": "[resourceGroup().location]",
      "kind": "V1",
      "properties": {
        "displayName": "[variables('MicrosoftSentinel0ConnectionName')]",
        "customParameterValues": {},
        "parameterValueType": "Alternative",
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
        }
      }
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('Office3650ConnectionName')]",
      "location": "[resourceGroup().location]",
      "kind": "V1",
      "properties": {
        "displayName": "[variables('Office3650ConnectionName')]",
        "customParameterValues": {},
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/office365')]"
        }
      }
    }
  ]
}
