Content/Playbooks/Incident/TeamsNotification.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "title": "TeamsNotification",
    "description": "Sentinel incident-trigger playbook for TeamsNotification.",
    "lastUpdateTime": "24-03-2026",
    "entities": [],
    "tags": [
      "Incident",
      "Source: Sentinel-As-Code"
    ],
    "support": {
      "tier": "community"
    },
    "author": {
      "name": "noodlemctwoodle"
    }
  },
  "parameters": {
    "PlaybookName": {
      "defaultValue": "TeamsNotification",
      "type": "string"
    },
    "AutomationResourceGroup": {
      "defaultValue": "",
      "type": "string"
    },
    "SentinelWorkpaceName": {
      "defaultValue": "",
      "type": "string"
    }
  },
  "variables": {
    "MicrosoftSentinel0ConnectionName": "[concat('MicrosoftSentinel-', parameters('PlaybookName'))]",
    "MicrosoftTeams0ConnectionName": "[concat('MicrosoftTeams-', parameters('PlaybookName'))]"
  },
  "resources": [
    {
      "properties": {
        "provisioningState": "Succeeded",
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "UPN1": {
              "defaultValue": "socanalyst@domain.com",
              "type": "String"
            },
            "UPN1 Friendly Name": {
              "defaultValue": "SOC Analyst",
              "type": "String"
            },
            "UPN2": {
              "defaultValue": "socengineer@domain.com",
              "type": "String"
            },
            "UPN2 Friendly Name": {
              "defaultValue": "SOC Engineer",
              "type": "String"
            },
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "Microsoft_Sentinel_incident": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel-1']['connectionId']"
                  }
                },
                "body": {
                  "callback_url": "@{listCallbackUrl()}"
                },
                "path": "/incident-creation"
              }
            }
          },
          "actions": {
            "Compose_adaptive_care_template": {
              "runAfter": {},
              "type": "Compose",
              "inputs": {
                "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
                "body": [
                  {
                    "columns": [
                      {
                        "id": "e5756242-0963-37a2-7cb4-4397886d60bb",
                        "items": [
                          {
                            "id": "20f3833e-0435-5c87-fad1-b528e0046fb6",
                            "size": "Large",
                            "text": "Microsoft Sentinel",
                            "type": "TextBlock",
                            "weight": "Bolder",
                            "wrap": true
                          }
                        ],
                        "padding": "None",
                        "type": "Column",
                        "verticalContentAlignment": "Center",
                        "width": "stretch"
                      },
                      {
                        "horizontalAlignment": "Right",
                        "id": "74215a26-fa8b-e549-cced-7f99fd34a661",
                        "items": [
                          {
                            "id": "795047e2-e63e-6e14-07ba-5a3e13323dff",
                            "size": "Small",
                            "type": "Image",
                            "url": "https://amdesigner.azurewebsites.net/samples/assets/PlaceHolder_Person.png"
                          }
                        ],
                        "padding": "None",
                        "type": "Column",
                        "width": "auto"
                      }
                    ],
                    "id": "1ede2aba-61b9-faa0-9895-9ed0c26b2e6f",
                    "padding": {
                      "bottom": "Small",
                      "left": "Default",
                      "right": "Small",
                      "top": "Small"
                    },
                    "style": "emphasis",
                    "type": "ColumnSet"
                  },
                  {
                    "id": "fbcee869-2754-287d-bb37-145a4ccd750b",
                    "items": [
                      {
                        "id": "44906797-222f-9fe2-0b7a-e3ee21c6e380",
                        "size": "Large",
                        "text": "@{triggerBody()?['object']?['properties']?['title']}",
                        "type": "TextBlock",
                        "weight": "Bolder",
                        "wrap": true
                      },
                      {
                        "facts": [
                          {
                            "title": "Created Time",
                            "value": "@{formatDateTime(triggerBody()?['object']?['properties']?['createdTimeUtc'], 'dd-MM-yyyy HH:mm:ss')}"
                          },
                          {
                            "title": "Severity",
                            "value": "@{triggerBody()?['object']?['properties']?['severity']}"
                          }
                        ],
                        "id": "21656664-922b-b4c8-3a65-351e2656fb21",
                        "type": "FactSet"
                      },
                      {
                        "id": "f7abdf1a-3cce-2159-28ef-f2f362ec937e",
                        "text": "@{triggerBody()?['object']?['properties']?['description']}",
                        "type": "TextBlock",
                        "wrap": true
                      },
                      {
                        "actions": [
                          {
                            "card": {
                              "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
                              "body": [
                                {
                                  "id": "c50c0c98-4cc1-6ff6-04b8-889577aaec86",
                                  "items": [
                                    {
                                      "choices": [
                                        {
                                          "title": "Active",
                                          "value": "Active"
                                        }
                                      ],
                                      "id": "assign.incident.Status",
                                      "isRequired": true,
                                      "label": "Select an option to change status. Please select an item in the list",
                                      "placeholder": "Change Status",
                                      "type": "Input.ChoiceSet"
                                    },
                                    {
                                      "choices": [
                                        {
                                          "title": "@{parameters('UPN1 Friendly Name')}",
                                          "value": "@{parameters('UPN1')}"
                                        },
                                        {
                                          "title": "@{parameters('UPN2 Friendly Name')}",
                                          "value": "@{parameters('UPN2')}"
                                        }
                                      ],
                                      "id": "assign.incident.Owner",
                                      "placeholder": "Assign Incident",
                                      "type": "Input.ChoiceSet"
                                    },
                                    {
                                      "actions": [
                                        {
                                          "associatedInputs": "auto",
                                          "id": "action.assign.status",
                                          "style": "positive",
                                          "title": "Submit",
                                          "type": "Action.Submit"
                                        }
                                      ],
                                      "id": "ff6a8953-50c0-bf33-9d01-2316bc1ff50f",
                                      "type": "ActionSet"
                                    }
                                  ],
                                  "padding": "None",
                                  "type": "Container"
                                }
                              ],
                              "padding": "Default",
                              "type": "AdaptiveCard"
                            },
                            "id": "c5884df0-9c4d-aef4-9bf2-0ac49d064f75",
                            "title": "Assign Incident",
                            "type": "Action.ShowCard"
                          },
                          {
                            "card": {
                              "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
                              "body": [
                                {
                                  "id": "6ba7238e-025b-e060-cf41-b4732848967b",
                                  "items": [
                                    {
                                      "choices": [
                                        {
                                          "title": "@{parameters('UPN1 Friendly Name')}",
                                          "value": "@{parameters('UPN1')}"
                                        },
                                        {
                                          "title": "@{parameters('UPN2 Friendly Name')}",
                                          "value": "@{parameters('UPN2')}"
                                        }
                                      ],
                                      "id": "escalation.incident.Owner",
                                      "isRequired": true,
                                      "label": "Select a Priority for the task.",
                                      "placeholder": "Select Escalation Point",
                                      "type": "Input.ChoiceSet"
                                    },
                                    {
                                      "actions": [
                                        {
                                          "id": "action.assign.escalation",
                                          "style": "positive",
                                          "title": "Submit",
                                          "type": "Action.Submit"
                                        }
                                      ],
                                      "id": "827ea28d-3d41-91c6-cf84-30b74244afe8",
                                      "type": "ActionSet"
                                    }
                                  ],
                                  "padding": "None",
                                  "type": "Container"
                                }
                              ],
                              "padding": "Default",
                              "type": "AdaptiveCard"
                            },
                            "id": "EscalateIncident",
                            "title": "Escalate Incident",
                            "type": "Action.ShowCard"
                          },
                          {
                            "card": {
                              "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
                              "body": [
                                {
                                  "id": "d2a2f235-2cf2-90c1-dab4-4a28dbea74d8",
                                  "items": [
                                    {
                                      "choices": [
                                        {
                                          "title": "@{parameters('UPN1 Friendly Name')}",
                                          "value": "@{parameters('UPN1')}"
                                        },
                                        {
                                          "title": "@{parameters('UPN2 Friendly Name')}",
                                          "value": "@{parameters('UPN2')}"
                                        }
                                      ],
                                      "id": "close.incident.Owner",
                                      "isRequired": true,
                                      "label": "Who owns this incident",
                                      "placeholder": "Incident Owner",
                                      "type": "Input.ChoiceSet"
                                    },
                                    {
                                      "choices": [
                                        {
                                          "title": "Informational",
                                          "value": "informational"
                                        },
                                        {
                                          "title": "Low",
                                          "value": "low"
                                        },
                                        {
                                          "title": "Medium",
                                          "value": "medium"
                                        },
                                        {
                                          "title": "High",
                                          "value": "high"
                                        }
                                      ],
                                      "id": "close.incident.Severity",
                                      "label": "Change Incidnet Severity",
                                      "placeholder": "Change Sevirity",
                                      "type": "Input.ChoiceSet"
                                    },
                                    {
                                      "id": "close.incident.Comments",
                                      "isMultiline": true,
                                      "isRequired": true,
                                      "label": "Add a Comment to incident",
                                      "placeholder": "Incident Comments*",
                                      "type": "Input.Text"
                                    },
                                    {
                                      "choices": [
                                        {
                                          "title": "True Positive - Suspicious Activity",
                                          "value": "TruePositive - SuspiciousActivity"
                                        },
                                        {
                                          "title": "Benign Positive - Suspicious but expected",
                                          "value": "BenignPositive - SuspiciousButExpected"
                                        },
                                        {
                                          "title": "False Positive - Incorrect Alert Logic",
                                          "value": "FalsePositive - IncorrectAlertLogic"
                                        },
                                        {
                                          "title": "False Positive - Inaccurate data",
                                          "value": "FalsePositive - InaccurateData"
                                        },
                                        {
                                          "title": "Undetermined",
                                          "value": "Undetermined"
                                        }
                                      ],
                                      "id": "close.incident.Classification",
                                      "isRequired": true,
                                      "placeholder": "Closure Classification",
                                      "type": "Input.ChoiceSet"
                                    },
                                    {
                                      "choices": [
                                        {
                                          "title": "Closed",
                                          "value": "Closed"
                                        }
                                      ],
                                      "id": "close.incident.Status",
                                      "isRequired": true,
                                      "label": "Incident Status",
                                      "placeholder": "Status",
                                      "type": "Input.ChoiceSet"
                                    },
                                    {
                                      "actions": [
                                        {
                                          "associatedInputs": "auto",
                                          "id": "action.assign.close",
                                          "style": "positive",
                                          "title": "Submit",
                                          "type": "Action.Submit"
                                        }
                                      ],
                                      "type": "ActionSet"
                                    }
                                  ],
                                  "padding": "None",
                                  "type": "Container"
                                }
                              ],
                              "padding": "Default",
                              "type": "AdaptiveCard"
                            },
                            "id": "f8541cdd-a532-3b7f-fca8-713b74529057",
                            "title": "Close Incident",
                            "type": "Action.ShowCard"
                          }
                        ],
                        "id": "c8a5ba7e-7ec6-53ae-79da-0cfb952a527e",
                        "type": "ActionSet"
                      }
                    ],
                    "padding": "Default",
                    "spacing": "None",
                    "type": "Container"
                  },
                  {
                    "horizontalAlignment": "Right",
                    "id": "77102c5d-fde2-e573-4ea5-66022d646d64",
                    "items": [
                      {
                        "color": "Accent",
                        "horizontalAlignment": "Right",
                        "id": "42654e7e-cece-b419-867a-3e3ef4076870",
                        "text": "[View in portal](@{triggerBody()?['object']?['properties']?['incidentUrl']})",
                        "type": "TextBlock",
                        "wrap": true
                      }
                    ],
                    "padding": {
                      "bottom": "Small",
                      "left": "Small",
                      "right": "Default",
                      "top": "Small"
                    },
                    "separator": true,
                    "spacing": "None",
                    "type": "Container"
                  }
                ],
                "padding": "None",
                "type": "AdaptiveCard",
                "version": "1.4"
              }
            },
            "Parse_adaptive_card_response": {
              "runAfter": {
                "Post_adaptive_card_and_wait_for_a_response": [
                  "Succeeded"
                ]
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@body('Post_adaptive_card_and_wait_for_a_response')",
                "schema": {
                  "properties": {
                    "data": {
                      "properties": {
                        "assign.incident.Owner": {
                          "type": "string"
                        },
                        "assign.incident.Status": {
                          "type": "string"
                        },
                        "close.incident.Classification": {
                          "type": "string"
                        },
                        "close.incident.Comments": {
                          "type": "string"
                        },
                        "close.incident.Owner": {
                          "type": "string"
                        },
                        "close.incident.Severity": {
                          "type": "string"
                        },
                        "escalation.incident.Owner": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "messageId": {
                      "type": "string"
                    },
                    "messageLink": {
                      "type": "string"
                    },
                    "responder": {
                      "properties": {
                        "displayName": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        },
                        "objectId": {
                          "type": "string"
                        },
                        "tenantId": {
                          "type": "string"
                        },
                        "userPrincipalName": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "responseTime": {
                      "type": "string"
                    },
                    "submitActionId": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "Post_adaptive_card_and_wait_for_a_response": {
              "runAfter": {
                "Compose_adaptive_care_template": [
                  "Succeeded"
                ]
              },
              "type": "ApiConnectionWebhook",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['teams-1']['connectionId']"
                  }
                },
                "body": {
                  "notificationUrl": "@{listCallbackUrl()}",
                  "body": {
                    "messageBody": "@{outputs('Compose_adaptive_care_template')}",
                    "updateMessage": "Thanks for your response!",
                    "recipient": {
                      "groupId": "00000000-0000-0000-0000-000000000000",
                      "channelId": "19:00000000000000000000000000000000@thread.tacv2"
                    }
                  }
                },
                "path": "/v1.0/teams/conversation/gatherinput/poster/Flow bot/location/@{encodeURIComponent('Channel')}/$subscriptions"
              }
            },
            "Switch": {
              "runAfter": {
                "Parse_adaptive_card_response": [
                  "Succeeded"
                ]
              },
              "cases": {
                "Assign_Close": {
                  "case": "action.assign.close",
                  "actions": {
                    "Update_incident_-_Assign_Close": {
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['azuresentinel-1']['connectionId']"
                          }
                        },
                        "method": "put",
                        "body": {
                          "incidentArmId": "@triggerBody()?['object']?['id']",
                          "ownerAction": "Assign",
                          "owner": "@body('Parse_adaptive_card_response')?['data']?['close.incident.Owner']",
                          "severity": "@body('Parse_adaptive_card_response')?['data']?['close.incident.Severity']",
                          "status": "Closed",
                          "classification": {
                            "ClassificationAndReason": "@body('Parse_adaptive_card_response')?['data']?['close.incident.Classification']",
                            "ClassificationReasonText": "@body('Parse_adaptive_card_response')?['data']?['close.incident.Comments']"
                          }
                        },
                        "path": "/Incidents"
                      }
                    }
                  }
                },
                "Assign_Escalation": {
                  "case": "action.assign.escalation",
                  "actions": {
                    "Update_incident_-_Assign_Escalation": {
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['azuresentinel-1']['connectionId']"
                          }
                        },
                        "method": "put",
                        "body": {
                          "incidentArmId": "@triggerBody()?['object']?['id']",
                          "tagsToAdd": {
                            "TagsToAdd": [
                              {
                                "Tag": "Teams Escalation"
                              }
                            ]
                          },
                          "ownerAction": "Assign",
                          "owner": "@body('Parse_adaptive_card_response')?['data']?['escalation.incident.Owner']",
                          "severity": "@triggerBody()?['object']?['properties']?['severity']",
                          "status": "Active"
                        },
                        "path": "/Incidents"
                      }
                    }
                  }
                },
                "Assign_Status": {
                  "case": "action.assign.status",
                  "actions": {
                    "Update_incident_-_Assign_Status": {
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['azuresentinel-1']['connectionId']"
                          }
                        },
                        "method": "put",
                        "body": {
                          "incidentArmId": "@triggerBody()?['object']?['id']",
                          "ownerAction": "Assign",
                          "owner": "@body('Parse_adaptive_card_response')?['data']?['assign.incident.Owner']",
                          "severity": "@triggerBody()?['object']?['properties']?['severity']",
                          "status": "@body('Parse_adaptive_card_response')?['data']?['assign.incident.Status']"
                        },
                        "path": "/Incidents"
                      }
                    }
                  }
                }
              },
              "default": {
                "actions": {}
              },
              "expression": "@body('Parse_adaptive_card_response')?['submitActionId']",
              "type": "Switch"
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuresentinel-1": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinel0ConnectionName'))]",
                "connectionName": "[variables('MicrosoftSentinel0ConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                }
              },
              "teams-1": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('MicrosoftTeams0ConnectionName'))]",
                "connectionName": "[variables('MicrosoftTeams0ConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/teams')]"
              }
            }
          }
        }
      },
      "name": "[parameters('PlaybookName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[resourceGroup().location]",
      "tags": {
        "Source": "Sentinel-As-Code"
      },
      "identity": {
        "type": "SystemAssigned"
      },
      "apiVersion": "2017-07-01",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinel0ConnectionName'))]",
        "[resourceId('Microsoft.Web/connections', variables('MicrosoftTeams0ConnectionName'))]"
      ]
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('MicrosoftSentinel0ConnectionName')]",
      "location": "[resourceGroup().location]",
      "kind": "V1",
      "properties": {
        "displayName": "[variables('MicrosoftSentinel0ConnectionName')]",
        "customParameterValues": {},
        "parameterValueType": "Alternative",
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
        }
      }
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('MicrosoftTeams0ConnectionName')]",
      "location": "[resourceGroup().location]",
      "kind": "V1",
      "properties": {
        "displayName": "[variables('MicrosoftTeams0ConnectionName')]",
        "customParameterValues": {},
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/teams')]"
        }
      }
    }
  ]
}
