Content/Playbooks/Incident/VirusTotalFileInfo.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "title": "VirusTotalFileInfo",
    "description": "Sentinel incident-trigger playbook for VirusTotalFileInfo targeting FileHash entities.",
    "lastUpdateTime": "24-03-2026",
    "entities": [
      "FileHash"
    ],
    "tags": [
      "Incident",
      "Source: Sentinel-As-Code"
    ],
    "support": {
      "tier": "community"
    },
    "author": {
      "name": "noodlemctwoodle"
    }
  },
  "parameters": {
    "PlaybookName": {
      "defaultValue": "VirusTotalFileInfo",
      "type": "string"
    },
    "AutomationResourceGroup": {
      "defaultValue": "",
      "type": "string"
    },
    "SentinelWorkpaceName": {
      "defaultValue": "",
      "type": "string"
    }
  },
  "variables": {
    "Virustotal0ConnectionName": "[concat('Virustotal-', parameters('PlaybookName'))]",
    "Azureloganalyticsdatacollector0ConnectionName": "[concat('Azureloganalyticsdatacollector-', parameters('PlaybookName'))]",
    "MicrosoftSentinel0ConnectionName": "[concat('MicrosoftSentinel-', parameters('PlaybookName'))]"
  },
  "resources": [
    {
      "properties": {
        "provisioningState": "Succeeded",
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "Microsoft_Sentinel_incident": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel_1']['connectionId']"
                  }
                },
                "body": {
                  "callback_url": "@{listCallbackUrl()}"
                },
                "path": "/incident-creation"
              }
            }
          },
          "actions": {
            "Add_comment_to_incident_(V3)": {
              "runAfter": {
                "Create_HTML_table": [
                  "Succeeded"
                ]
              },
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel_1']['connectionId']"
                  }
                },
                "method": "post",
                "body": {
                  "incidentArmId": "@triggerBody()?['object']?['id']",
                  "message": "<p>@{body('Create_HTML_table')}<br>\nQuery: VTFileReport_CL | where id_s == 'File_Hash_Value'\",</p>"
                },
                "path": "/Incidents/Comment"
              }
            },
            "Create_HTML_table": {
              "runAfter": {
                "For_each": [
                  "Succeeded",
                  "Failed"
                ]
              },
              "type": "Table",
              "inputs": {
                "from": "@variables('HashInfo')",
                "format": "HTML"
              }
            },
            "Entities_-_Get_FileHashes": {
              "runAfter": {},
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel_1']['connectionId']"
                  }
                },
                "method": "post",
                "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                "path": "/entities/filehash"
              }
            },
            "Filter_array": {
              "runAfter": {
                "Initialize_HashInfo": [
                  "Succeeded"
                ]
              },
              "type": "Query",
              "inputs": {
                "from": "@body('Entities_-_Get_FileHashes')?['Filehashes']",
                "where": "@equals(item()?['Algorithm'], 'SHA1')"
              }
            },
            "For_each": {
              "foreach": "@body('Filter_array')",
              "actions": {
                "Condition": {
                  "actions": {
                    "Append_to_array_variable": {
                      "runAfter": {
                        "Send_Data": [
                          "Succeeded"
                        ]
                      },
                      "type": "AppendToArrayVariable",
                      "inputs": {
                        "name": "HashInfo",
                        "value": {
                          "HashValue": "@{items('For_each')?['Value']}",
                          "ProcessName": "@{body('Retrieve_information_about_a_file')?['data']?['attributes']?['meaningful_name']}",
                          "Reputation": "@{body('Retrieve_information_about_a_file')?['data']?['attributes']?['reputation']}",
                          "Risk": "Likely harmless",
                          "TimesSubmitted": "@{body('Retrieve_information_about_a_file')?['data']?['attributes']?['times_submitted']}"
                        }
                      }
                    },
                    "Send_Data": {
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['azureloganalyticsdatacollector_1']['connectionId']"
                          }
                        },
                        "method": "post",
                        "body": "@{body('Retrieve_information_about_a_file')?['data']}",
                        "headers": {
                          "Log-Type": "VTFileReport",
                          "time-generated-field": "@{utcNow()}"
                        },
                        "path": "/api/logs"
                      }
                    }
                  },
                  "runAfter": {
                    "Retrieve_information_about_a_file": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {
                      "Append_to_array_variable_2": {
                        "runAfter": {
                          "Send_Data_2": [
                            "Succeeded"
                          ]
                        },
                        "type": "AppendToArrayVariable",
                        "inputs": {
                          "name": "HashInfo",
                          "value": {
                            "HashValue": "@{items('For_each')?['Value']}",
                            "ProcessName": "@{body('Retrieve_information_about_a_file')?['data']?['attributes']?['meaningful_name']}",
                            "Reputation": "@{body('Retrieve_information_about_a_file')?['data']?['attributes']?['reputation']}",
                            "Risk": "Likely Malicious",
                            "TimesSubmitted": "@{body('Retrieve_information_about_a_file')?['data']?['attributes']?['times_submitted']}"
                          }
                        }
                      },
                      "Send_Data_2": {
                        "type": "ApiConnection",
                        "inputs": {
                          "host": {
                            "connection": {
                              "name": "@parameters('$connections')['azureloganalyticsdatacollector_1']['connectionId']"
                            }
                          },
                          "method": "post",
                          "body": "@{body('Retrieve_information_about_a_file')?['data']}",
                          "headers": {
                            "Log-Type": "VTFileReport",
                            "time-generated-field": "@{utcNow()}"
                          },
                          "path": "/api/logs"
                        }
                      }
                    }
                  },
                  "expression": {
                    "or": [
                      {
                        "greaterOrEquals": [
                          "@body('Retrieve_information_about_a_file')?['data']?['attributes']?['reputation']",
                          0
                        ]
                      }
                    ]
                  },
                  "type": "If"
                },
                "Retrieve_information_about_a_file": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['virustotal_1']['connectionId']"
                      }
                    },
                    "method": "get",
                    "path": "/api/v3/files/@{encodeURIComponent(item()?['Value'])}"
                  }
                }
              },
              "runAfter": {
                "Filter_array": [
                  "Succeeded"
                ]
              },
              "type": "Foreach"
            },
            "Initialize_HashInfo": {
              "runAfter": {
                "Entities_-_Get_FileHashes": [
                  "Succeeded"
                ]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "HashInfo",
                    "type": "array"
                  }
                ]
              }
            }
          }
        },
        "parameters": {
          "$connections": {
            "value": {
              "virustotal_1": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('Virustotal0ConnectionName'))]",
                "connectionName": "[variables('Virustotal0ConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/virustotal')]"
              },
              "azureloganalyticsdatacollector_1": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('Azureloganalyticsdatacollector0ConnectionName'))]",
                "connectionName": "[variables('Azureloganalyticsdatacollector0ConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azureloganalyticsdatacollector')]"
              },
              "azuresentinel_1": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinel0ConnectionName'))]",
                "connectionName": "[variables('MicrosoftSentinel0ConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                }
              }
            }
          }
        }
      },
      "name": "[parameters('PlaybookName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[resourceGroup().location]",
      "tags": {
        "Source": "Sentinel-As-Code"
      },
      "identity": {
        "type": "SystemAssigned"
      },
      "apiVersion": "2017-07-01",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinel0ConnectionName'))]",
        "[resourceId('Microsoft.Web/connections', variables('Azureloganalyticsdatacollector0ConnectionName'))]",
        "[resourceId('Microsoft.Web/connections', variables('Virustotal0ConnectionName'))]"
      ]
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('Virustotal0ConnectionName')]",
      "location": "[resourceGroup().location]",
      "kind": "V1",
      "properties": {
        "displayName": "[variables('Virustotal0ConnectionName')]",
        "customParameterValues": {},
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/virustotal')]"
        }
      }
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('Azureloganalyticsdatacollector0ConnectionName')]",
      "location": "[resourceGroup().location]",
      "kind": "V1",
      "properties": {
        "displayName": "[variables('Azureloganalyticsdatacollector0ConnectionName')]",
        "customParameterValues": {},
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azureloganalyticsdatacollector')]"
        }
      }
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('MicrosoftSentinel0ConnectionName')]",
      "location": "[resourceGroup().location]",
      "kind": "V1",
      "properties": {
        "displayName": "[variables('MicrosoftSentinel0ConnectionName')]",
        "customParameterValues": {},
        "parameterValueType": "Alternative",
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
        }
      }
    }
  ]
}
