Content/Playbooks/Incident/VTFileEnrichment.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "title": "VTFileEnrichment",
    "description": "Sentinel incident-trigger playbook for VTFileEnrichment targeting FileHash entities.",
    "lastUpdateTime": "24-03-2026",
    "entities": [
      "FileHash"
    ],
    "tags": [
      "Incident",
      "Source: Sentinel-As-Code"
    ],
    "support": {
      "tier": "community"
    },
    "author": {
      "name": "noodlemctwoodle"
    }
  },
  "parameters": {
    "PlaybookName": {
      "defaultValue": "VTFileEnrichment",
      "type": "string"
    },
    "AutomationResourceGroup": {
      "defaultValue": "",
      "type": "string"
    },
    "SentinelWorkpaceName": {
      "defaultValue": "",
      "type": "string"
    }
  },
  "variables": {
    "azuresentinel0ConnectionName": "[concat('azuresentinel0-', parameters('PlaybookName'))]",
    "azuresentinel1ConnectionName": "[concat('azuresentinel1-', parameters('PlaybookName'))]"
  },
  "resources": [
    {
      "properties": {
        "provisioningState": "Succeeded",
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "Microsoft_Sentinel_incident": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "body": {
                  "callback_url": "@{listCallbackUrl()}"
                },
                "path": "/incident-creation"
              }
            }
          },
          "actions": {
            "Entities_-_Get_FileHashes": {
              "runAfter": {},
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel-1']['connectionId']"
                  }
                },
                "method": "post",
                "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                "path": "/entities/filehash"
              }
            },
            "Initialize_variables": {
              "runAfter": {
                "Entities_-_Get_FileHashes": [
                  "Succeeded"
                ]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "FileHashEnrichment",
                    "type": "array"
                  }
                ]
              }
            },
            "Compose": {
              "runAfter": {
                "Initialize_variables": [
                  "Succeeded"
                ]
              },
              "type": "Compose",
              "inputs": "44d88612fea8a8f36de82e1278abb02f"
            },
            "Terminate": {
              "runAfter": {
                "Add_comment_to_incident_(V3)": [
                  "Succeeded"
                ]
              },
              "type": "Terminate",
              "inputs": {
                "runStatus": "Cancelled"
              }
            },
            "Add_comment_to_incident_(V3)": {
              "runAfter": {
                "Create_HTML_table": [
                  "Succeeded"
                ]
              },
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "method": "post",
                "body": {
                  "incidentArmId": "@triggerBody()?['object']?['id']",
                  "message": "<p class=\"editor-paragraph\">@{body('Create_HTML_table')}</p>"
                },
                "path": "/Incidents/Comment"
              }
            },
            "Create_HTML_table": {
              "runAfter": {
                "For_each": [
                  "Succeeded"
                ]
              },
              "type": "Table",
              "inputs": {
                "from": "@variables('FileHashEnrichment')",
                "format": "HTML"
              }
            },
            "For_each": {
              "foreach": "@body('Entities_-_Get_FileHashes')?['Filehashes']",
              "actions": {
                "Module-VTEnrichment": {
                  "type": "Workflow",
                  "inputs": {
                    "host": {
                      "workflow": {
                        "id": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', parameters('AutomationResourceGroup'), '/providers/Microsoft.Logic/workflows/Module-VTEnrichment')]"
                      },
                      "triggerName": "When_an_VT_request_is_received"
                    },
                    "body": {
                      "FileHash": "@item()?['Value']",
                      "Playbook": "Incident-VTFileEnrichment"
                    }
                  }
                },
                "Append_to_array_variable": {
                  "runAfter": {
                    "Module-VTEnrichment": [
                      "Succeeded"
                    ]
                  },
                  "type": "AppendToArrayVariable",
                  "inputs": {
                    "name": "FileHashEnrichment",
                    "value": "@outputs('Module-VTEnrichment')"
                  }
                }
              },
              "runAfter": {
                "Compose": [
                  "Succeeded"
                ]
              },
              "type": "Foreach"
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuresentinel-1": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('azuresentinel0ConnectionName'))]",
                "connectionName": "[variables('azuresentinel0ConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                }
              },
              "azuresentinel": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('azuresentinel1ConnectionName'))]",
                "connectionName": "[variables('azuresentinel1ConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                }
              }
            }
          }
        }
      },
      "name": "[parameters('PlaybookName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[resourceGroup().location]",
      "tags": {
        "Source": "Sentinel-As-Code"
      },
      "identity": {
        "type": "SystemAssigned"
      },
      "apiVersion": "2017-07-01",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('azuresentinel0ConnectionName'))]",
        "[resourceId('Microsoft.Web/connections', variables('azuresentinel1ConnectionName'))]"
      ]
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('azuresentinel0ConnectionName')]",
      "location": "[resourceGroup().location]",
      "kind": "V1",
      "properties": {
        "displayName": "[variables('azuresentinel0ConnectionName')]",
        "customParameterValues": {},
        "parameterValueType": "Alternative",
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
        }
      }
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('azuresentinel1ConnectionName')]",
      "location": "[resourceGroup().location]",
      "kind": "V1",
      "properties": {
        "displayName": "[variables('azuresentinel1ConnectionName')]",
        "customParameterValues": {},
        "parameterValueType": "Alternative",
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
        }
      }
    }
  ]
}
