Content/Playbooks/Module/IPQSEnrichment.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "title": "IPQSEnrichment",
    "description": "Reusable automation module: IPQSEnrichment.",
    "lastUpdateTime": "24-03-2026",
    "entities": [],
    "tags": [
      "Module",
      "Source: Sentinel-As-Code"
    ],
    "support": {
      "tier": "community"
    },
    "author": {
      "name": "noodlemctwoodle"
    }
  },
  "parameters": {
    "PlaybookName": {
      "defaultValue": "Module-IPQSEnrichment",
      "type": "string"
    },
    "AutomationResourceGroup": {
      "defaultValue": "",
      "type": "string"
    }
  },
  "variables": {},
  "resources": [
    {
      "properties": {
        "provisioningState": "Succeeded",
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "When_a_HTTP_request_is_received": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {
                  "properties": {
                    "ipAddress": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "actions": {
            "HTTP": {
              "runAfter": {
                "Module-GetSecret": [
                  "Succeeded"
                ]
              },
              "type": "Http",
              "inputs": {
                "uri": "https://ipqualityscore.com/api/json/ip/@{body('Module-GetSecret')}/@{triggerBody()?['ipAddress']}",
                "method": "GET"
              },
              "runtimeConfiguration": {
                "contentTransfer": {
                  "transferMode": "Chunked"
                }
              }
            },
            "Module-GetSecret": {
              "runAfter": {},
              "type": "Workflow",
              "inputs": {
                "host": {
                  "workflow": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', parameters('AutomationResourceGroup'), '/providers/Microsoft.Logic/workflows/Module-GetSecret')]"
                  },
                  "triggerName": "When_a_HTTP_request_is_received"
                },
                "body": {
                  "secretName": "IPQS-API-Key"
                }
              }
            },
            "Response": {
              "runAfter": {
                "HTTP": [
                  "Succeeded"
                ]
              },
              "type": "Response",
              "kind": "Http",
              "inputs": {
                "statusCode": 200,
                "body": "@body('HTTP')"
              }
            }
          },
          "outputs": {}
        },
        "accessControl": {
          "triggers": {
            "allowedCallerIpAddresses": []
          },
          "actions": {
            "allowedCallerIpAddresses": []
          }
        }
      },
      "name": "[parameters('PlaybookName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[resourceGroup().location]",
      "tags": {
        "Source": "Sentinel-As-Code"
      },
      "identity": {
        "type": "SystemAssigned"
      },
      "apiVersion": "2017-07-01",
      "dependsOn": []
    }
  ]
}
