Content/Playbooks/Module/RevokeSessions.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "title": "RevokeSessions",
    "description": "Reusable automation module: RevokeSessions.",
    "lastUpdateTime": "24-03-2026",
    "entities": [],
    "tags": [
      "Module",
      "Source: Sentinel-As-Code"
    ],
    "support": {
      "tier": "community"
    },
    "author": {
      "name": "noodlemctwoodle"
    }
  },
  "parameters": {
    "PlaybookName": {
      "defaultValue": "Module-RevokeSessions",
      "type": "string"
    }
  },
  "variables": {},
  "resources": [
    {
      "properties": {
        "provisioningState": "Succeeded",
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "Manual": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "method": "POST",
                "schema": {
                  "properties": {
                    "entraIdUserId": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "actions": {
            "HTTP_POST_Graph_RevokeSessions": {
              "runAfter": {
                "Authenticate_Workflow": [
                  "Succeeded"
                ]
              },
              "type": "Http",
              "inputs": {
                "uri": "https://graph.microsoft.com/v1.0/users/@{triggerBody()?['entraIdUserId']}/revokeSignInSessions",
                "method": "POST",
                "authentication": {
                  "type": "ManagedServiceIdentity",
                  "audience": "https://graph.microsoft.com"
                }
              },
              "runtimeConfiguration": {
                "contentTransfer": {
                  "transferMode": "Chunked"
                }
              }
            },
            "Graph_Response": {
              "runAfter": {
                "Parse_JSON": [
                  "Succeeded"
                ]
              },
              "type": "Response",
              "kind": "Http",
              "inputs": {
                "statusCode": "@outputs('HTTP_POST_Graph_RevokeSessions')?['statusCode']",
                "body": {
                  "EntraIdUserId": "@{triggerBody()?['entraIdUserId']}",
                  "SessionsRevoke": "@{body('Parse_JSON')?['value']}"
                }
              }
            },
            "Authenticate_Workflow": {
              "actions": {},
              "runAfter": {},
              "else": {
                "actions": {
                  "Terminate": {
                    "type": "Terminate",
                    "inputs": {
                      "runStatus": "Cancelled"
                    }
                  }
                }
              },
              "expression": {
                "or": [
                  {
                    "equals": [
                      "@triggerOutputs()?['headers']?['x-ms-workflow-name']",
                      "Incident-RevokeSessions"
                    ]
                  },
                  {
                    "equals": [
                      "@triggerOutputs()?['headers']?['x-ms-workflow-name']",
                      "Entity-RevokeSessions"
                    ]
                  }
                ]
              },
              "type": "If"
            },
            "Parse_JSON": {
              "runAfter": {
                "HTTP_POST_Graph_RevokeSessions": [
                  "Succeeded",
                  "Failed"
                ]
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@body('HTTP_POST_Graph_RevokeSessions')",
                "schema": {
                  "type": "object",
                  "properties": {
                    "@@odata.context": {
                      "type": "string"
                    },
                    "value": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "outputs": {}
        },
        "accessControl": {
          "triggers": {
            "allowedCallerIpAddresses": []
          },
          "actions": {
            "allowedCallerIpAddresses": []
          }
        }
      },
      "name": "[parameters('PlaybookName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[resourceGroup().location]",
      "tags": {
        "Source": "Sentinel-As-Code"
      },
      "identity": {
        "type": "SystemAssigned"
      },
      "apiVersion": "2017-07-01",
      "dependsOn": []
    }
  ]
}
